$myColors: (
    white: #ffffff,
    black: #000000,
    green: #43c560,
    orange: #f2894f,
    orange-light-1: #fda044,
    orange-light-2: #fdc97d,
    gray: #959595,
    gray-light-1: #a9a9a9,
    gray-light-2: #c5c5c5,
    gray-light-3: #ebebeb,
    gray-light-4: #f5f5f5,
    gray-dark-1: #6f6d6d,
    gray-dark-2: #585858,
    gray-dark-3: #4b4b4b,
    gray-dark-4: #393939,
    purpule: #7d6c8f,
    red: #ff625e
);



@function getColor($name) {
    @return map_get($myColors, $name);
}