@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin placeholder-color($color){
	::-webkit-input-placeholder {
		color: $color;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		color: $color;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		color: $color;
	}

	:-ms-input-placeholder {
		color: $color;
	}
}

@mixin input-outline-clear(){
	&:focus, &:hover, &:active{
		outline: none;
	}
}