/* File Input
   ========================================================================== */

.file-field {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $screen-ms-max) {
        display: block;
    }

    .box-modal &{
        flex-direction: column;
    }

    .file-path-wrapper {
        overflow: hidden;
        width: 65%;
        position: relative;
        @media screen and (max-width: $screen-ms-max) {
            width: 100%;
            margin-bottom: 10px;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            background-color: #fff;
            opacity: 0;
        }

        .box-modal &{
            width: 100%;
        }
    }

    input.file-path {
        width: 100%;
        height: 30px;

    }

    .btn {
        width: 30%;
        .box-modal &{
            width: 100%;
        }

        @media screen and (max-width: $screen-ms-max) {
            width: 100%;
        }
    }

    label {
        cursor: pointer;

        border: 1px solid getColor(white);
        color: getColor(white);
        border-radius: 2px;
        line-height: 30px;
        height: 30px;
        text-align: center;

        width: 100%;
        position: static;
        display: block;

        &:hover{
            background-color: getColor(white);
            color: getColor(orange) !important;
        }

        .box-modal &{
            border: 1px solid getColor(orange);
            color: getColor(orange);
            height: 40px;
            line-height: 40px;
            width: 100%;
            margin-top: 15px;
            position: static;
            display: block;

            &:hover{
                background-color: getColor(orange);
                color: getColor(white) !important;
            }
        }
    }

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);

        display: none;
    }
}
