/* Text Inputs + Textarea
   ========================================================================== */
// Styling for input field wrapper
.material-input-field {
    position: relative;

    label {
        color: $input-border-color;
        position: absolute;
        top: 0.8rem;
        left: 0;
        font-size: 1rem;
        cursor: text;
        transition: .2s ease-out;
    }

    label.active {
        font-size: $label-font-size;
        transform: translateY(-140%);
    }

    /* Style Placeholders */

    @include placeholder-color(getColor(black));


    @import "input/input";
    //@import "input/search";
    //@import "input/prefix";
    @import "input/textarea";
    @import "input/autocomplete";
}

// For textarea autoresize
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
    padding-top: 1.2rem; /* prevents text jump on Enter keypress */
}
