//
// Сетка
// --------------------------------------------------
* {
	box-sizing: border-box;
}
// Идентифицируем фиксированный контейнер
.container {
  @include container-fixed;
  @media (min-width: $screen-sm-min) {width: $container-sm;}
  @media (min-width: $screen-md-min) {width: $container-md;}
  @media (min-width: $screen-lg-min) {width: $container-lg;}
}

// Идентифицируем резиновый контейнер
.container-fluid {@include container-fixed;}

// Идентифицируем строку
.row {@include make-row;}

// Идентифицируем Колонки
@include make-grid-columns;

// Очень маленький экран
@include make-grid(xs);

// Очень маленький Landscape экран
@media (min-width: $screen-ms-min) {@include make-grid(ms);}

// Маленький экран
@media (min-width: $screen-sm-min) {@include make-grid(sm);}

// Средний экран
@media (min-width: $screen-md-min) {@include make-grid(md);}

// Большой экран
@media (min-width: $screen-lg-min) {@include make-grid(lg);}
