.anons {
    &__item {
        background-color: getColor(white);
        box-shadow: 0 2px 2px rgba(getColor(black), 0.3);
        border-radius: 0 0 3px 3px;
        border-bottom: 2px solid getColor(white);
        transition: all 0.2s ease;
        &:hover{
            border-bottom-color: getColor(orange);
            .anons__date{
                background-color: getColor(orange);
            }
            .anons__title{
                color: getColor(orange);
            }
            .anons__more{
                a{
                    color: getColor(orange);
                }
            }
        }
        @media screen and (max-width: $screen-sm-max){
            margin: 10px 0;
        }
    }
    &__pic {
        position: relative;
        overflow: hidden;
        border-radius: 3px 3px 0 0;
        img{
            display: block;
            width: 100%;
        }
    }
    &__date{
        position: absolute;
        left: 20px;
        top: 0;
        background-color: getColor(gray-light-2);
        box-shadow: 0 2px 2px rgba(getColor(black), 0.3);
        color: getColor(white);
        text-align: center;
        line-height: 1;
        padding: 7px 11px;
        transition: all 0.2s ease;
    }
    &__day{
        font-size: 20px;
        font-weight: bold;
    }
    &__month{
        font-size: 16px;
        text-transform: uppercase;
    }
    &__body {
        padding: 20px;
        font-size: 14px;
    }
    &__title{
        text-transform: uppercase;
        margin: 0 0 20px 0;
        transition: all 0.2s ease;
    }
    &__text{
        margin-bottom: 20px;
        color: getColor(gray-dark-1);
    }
    &__more{
        text-align: right;
        a{
            text-decoration: none;
            transition: all 0.2s ease;
        }
    }
    &__all{
        padding-top: 30px;
        text-align: center;
    }
}