.card{
    &__slider{
        margin-bottom: 20px;
    }
    &__pic{
        border: 1px solid getColor(gray-light-3);
        &_slider{
            margin-bottom: 20px;
        }
        img{
            display: block;
            width: 100%;
        }
    }
    &__title{
        color: getColor(orange-light-1);
        text-transform: uppercase;
        @media screen and (min-width: $screen-md-min) {
            margin-top: 0;
        }
        @media screen and (max-width: $screen-sm-max) {
            font-size: 22px;
        }
    }
    &__price{
        &:after{
            font-family: 'rouble';
            content: "\e900";
            font-weight: 400;
        }
        &_old{
            font-size: 16px;
            color: getColor(gray-light-1);
            display: inline-block;
            position: relative;
            @media screen and (max-width: $screen-sm-max) {
                margin: 0 auto;
            }
            &:before{
                content: '';
                position: absolute;
                top: 5px;
                left: 0;
                right: 0;
                height: 2px;
                background-color: getColor(orange);
                transform-origin: 0px 0px;
                transform: rotate(15deg);
            }
            &:after{
                font-size: 12px;
                vertical-align: 1px;
                margin-left: 3px;
            }
        }
        &_actual{
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 1;
            @media screen and (max-width: $screen-sm-max) {
                text-align: center;
            }
            &:after{
                font-size: 20px;
                vertical-align: 2px;
                margin-left: 4px;
            }
        }
    }
    &__inner{

    }

    &__wrap{
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__column{
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        @media screen and (max-width: $screen-sm-max) {
            padding: 2px 0;
        }
    }
    &__row{
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
            padding: 5px 0;

            .showcase__field{
                display: block;
                float: none;
                width: 100%;
                padding: 5px;
            }
            .showcase__label{
                margin-bottom: 5px;
            }
            .showcase__select, .showcase__input{
                width: 100%;
            }
        }
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex: 1;
            align-items: center;
            padding: 3px 0;
        }
    }
    &__ui{
        @media screen and (max-width: $screen-sm-max) {
            float: left;
            width: 50%;
        }
    }
    &__foot{
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex: 1;
            margin-top: 20px;
        }
    }


    &__calc{
        line-height: 1;
        a{
            text-decoration: none;
            position: relative;
            &:hover{
                span{
                    text-decoration: none;
                }
            }
            &:after{
                content: url('../images/card/calc.png');
                position: absolute;
                left: 110%;
                top: 50%;
                margin-top: -8px;
            }
        }
        span{
            text-decoration: underline;
        }
    }
    &__info{
        @media screen and (min-width: $screen-md-min) {
            border-left: 1px dashed getColor(gray-light-2);
        }
        @media screen and (min-width: $screen-lg-min) {
            padding-left: 35px;
        }
        @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            padding-left: 20px;
        }

        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
            padding-top: 20px;
        }
        .card__share{
            border-top: 1px solid getColor(gray-light-3);
        }
    }
    &__avail{
        &:before{
            content: '';
            width: 6px;
            height: 6px;
            display: inline-block;
            vertical-align: 2px;
            margin-right: 10px;
            border-radius: 50%;
        }
        &._true{
            color: getColor(green);
            &:before{
                background-color: getColor(green);
            }
        }
        &._false{
            color: getColor(orange);
            &:before{
                background-color: getColor(orange);
            }
        }
    }
    &__share{

        > span{
            display: inline-block;
            vertical-align: middle;
        }

        .ya-share2{
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            &__badge{
                background-color: getColor(gray-light-2) !important;
                &:hover{
                    background-color: getColor(orange) !important;
                }
            }
        }
    }

    &__fast{
        @media screen and (min-width: $screen-md-min) {
            padding-top: 0;
        }
    }

    &Thumb{
        padding: 0 20px;
        position: relative;
        user-select: none;
        &__e{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            i{
                font-size: 20px;
                display: block;
            }
            &:hover{
                color: getColor(orange-light-1);
            }
            &._left{
                left: 0;
            }
            &._right{
                right: 0;
            }
        }
        .owl-item{
            border: 1px solid getColor(gray-light-3);
            &.center{
                border-color: getColor(orange-light-1);
            }
        }
        &._minimal{
            .owl-stage{
                transform: none !important;
            }
        }
    }

    .funcLink {
        line-height: 1;
        &._favorite, &._swap_horiz{
            .funcLink__icon{
                color: getColor(gray-light-2);
            }
        }
        &._favorite{
            &._active{
                .funcLink__icon{
                    color: getColor(red)
                }
            }
        }
        &._swap_horiz{
            &._active{
                .funcLink__icon{
                    color: getColor(red)
                }
            }
        }
        &__text {
            color: getColor(gray-light-2);

        }
        &._active{
            .funcLink__text{
                color: getColor(gray-dark-3);
            }
        }
    }
}

