.compare{
    $compare-lg-width: 1180px;
    $compare-md-width: 984px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    &__static{
        box-shadow: 0 0 0 1px getColor(gray-light-2);
        border-radius: 3px 0 0 3px;
        @media screen and (min-width: $screen-md-min) {
            width: 25%;
        }
    }
    &__scroll{
        @media screen and (min-width: $screen-md-min) {
            //width: 75%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        box-shadow: 0 0 0 1px getColor(gray-light-2);
        background-color: getColor(white);
        border-left: none;
        overflow: auto;
        border-radius: 0 3px 3px 0;
    }
    &__wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        //@media screen and (min-width: $screen-lg-min) {
        //    max-width: 3 * ($compare-lg-width / 4);
        //}
        //@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        //    max-width: 3 * ($compare-md-width / 4);
        //}
    }
    &__item{

        &:not(:first-child){
            border-left: 1px solid getColor(gray-light-2);
        }
        @media screen and (min-width: $screen-lg-min) {
            width: ($compare-lg-width / 4);
        }
        @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            width: ($compare-md-width / 4);
        }
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    &__top{
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $screen-lg-min) {
            height: 420px;
        }
        @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: 400px;
        }
        &:hover{
            .product__btn{
                opacity: 1;
            }
        }
    }
    &__body{
        text-align: center;
    }
    &__price{
        margin-top: 10px;
        .showcase__old{
            position: relative;
            top: 0;
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__foot{
        display: flex;
        flex: 1;
        justify-content: flex-end;
        flex-direction: column;
    }
    &__header{
        height: 60px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color: getColor(gray-dark-3);
            font-weight: 600;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    &__bottom{
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }
    }
    &__table{
        td{
            padding: 10px 15px;
            border-right: none;
            border-left: none;
            height: 60px;
        }
        tr{
            &:last-child{
                td{
                    border-bottom: none;
                }
            }
            &:nth-child(odd){
                td{
                    background-color: getColor(gray-light-4);
                }
            }
        }
    }
    &__switch{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    &__del{
        position: absolute;
        top: 0;
        right: 5px;
        z-index: 2;

        color: getColor(gray);
        &:hover{
            color: getColor(gray-dark-1);
        }
    }

}