.faq{
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        @media screen and (max-width: $screen-sm-max) {
            margin: 15px 0;
        }
        li{
            padding: 5px 0;
        }
    }
    &__item{
        margin: 10px 0;
        border: 1px solid getColor(gray-light-3);
        border-radius: 3px;

    }
    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 10px 15px;
        cursor: pointer;
        &:hover{
            .faq__quest{
                color: getColor(green);
            }
        }
    }
    &__quest{
        font-weight: 600;
        margin-left: 5px;
    }
    &__date{
        justify-content: flex-end;
    }
    &__content{
        display: none;
        padding: 10px 15px;
        border-top: 1px solid getColor(gray-light-3);
    }
    &__name{
        display: flex;
        align-items: center;
        max-width: 80%;
    }
}