.footer{
	position: relative;
	overflow: hidden;
	@media screen and (max-width: $screen-sm-max) {
		text-align: center;
	}
	&__separator{
		@media screen and (min-width: $screen-md-min){
			border-right: 1px solid getColor(gray-light-1);
		}
		@media screen and (max-width: $screen-sm-max) {
			text-align: center;
		}
	}
}