.gallery{
    padding-top: 40px;
    @media screen and (max-width: $screen-sm-max){
        padding-top: 0;
    }
    &__item{
        position: relative;
        &:after{
            content: '';
            transition: all 0.2s ease;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        }
        &:hover{
            &:after{
                opacity: 1;
                visibility: visible;
            }
            .gallery__icon{
                opacity: 1;
                visibility: visible;
                transform: translateX(0px);
            }
            .gallery__title, .gallery__text{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    &__anchor{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translateY(-50%) translateX(-50%);
    }
    &__icon{
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;

        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
        cursor: pointer;
        i{
            font-size: 30px;
            color: getColor(white);
        }
        &._left{
            transform: translateX(-20px);
        }
        &._right{
            transform: translateX(20px);
        }
        &:hover{
            i{
                color: getColor(orange);
            }
        }
    }
    &__inner{
        color: getColor(white);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 0 10px 20px 10px;
    }
    &__title{
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.2s ease 0.1s;
        margin: 0;
    }
    &__text{
        transition: all 0.2s ease 0.2s;
    }

    &__title, &__text{

        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
    }
}