.header{
	background-color: getColor(white);
	@media screen and (max-width: $screen-sm-max) {
		margin-top: 60px;
	}
	&__flex{
		@media screen and (min-width: $screen-md-min) {
			.flexbox &{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: space-between;
			}

			.no-flexbox &{
				display: table;
				width: 100%;
			}
		}
	}
	&__box{
		@media screen and (min-width: $screen-md-min) {
			.no-flexbox &{
				display: table-cell;
				vertical-align: middle;
			}
		}
		&._1{
			@media screen and (min-width: $screen-md-min) {
				width: 210px;
			}
		}
		&._2{
			@media screen and (min-width: $screen-lg-min) {
				width: 270px;
			}
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				width: 160px;
			}
		}
		&._3{
			@media screen and (min-width: $screen-md-min) {
				width: 220px;
			}
		}
	}
}