.hero{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	@media screen and (min-width: $screen-md-min) {
		text-align: center;
	}
	@media screen and (max-width: $screen-sm-max) {
		text-align: center;
	}
	@media screen and (min-width: $screen-sm-min) {
		padding: 40px 0;
	}
	@media screen and (max-width: $screen-ms-max) {
		padding: 20px 0;
	}
	&__title{
		margin: 0;
		color: getColor(gray-dark-3);
		text-transform: uppercase;
		@media screen and (min-width: $screen-md-min) {
			&_first{
				font-size: 32px;
			}
			&_last{
				font-size: 24px;
			}
		}
		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			&_first{
				font-size: 36px;
			}
			&_last{
				font-size: 26px;
			}
		}
		@media screen and (max-width: $screen-ms-max) {
			&_first{
				margin-bottom: 10px;
			}
		}
	}
	&__btn{
		@media screen and (max-width: $screen-xs-max) {
			font-size: 16px;
		}
	}
}