.menu{
    &__list{

    }
    &__item{
        border-bottom:1px solid getColor(gray-light-3);
        position: relative;
        &._sub{
            position: relative;
        }
        &._active{
            background-color: getColor(gray-light-3);
            &:hover{
                .menu__link{
                    color: getColor(gray-dark-3);
                }
            }
        }
        &:hover{
            @media screen and (min-width: $screen-md-min) {
                background-color: getColor(gray-light-3);
                .menu__link{
                    color: getColor(gray-dark-3);
                }
            }
        }
    }
    &__trigger{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        &._active{
            color: getColor(green);
        }
        @media screen and (min-width: $screen-md-min) {
            top: 50%;
            transform: translateY(-50%);
        }
        @media screen and (max-width: $screen-sm-max) {
            font-size: 28px;
            top: 5px;
            transition: all 0.2s ease;
            &._active{
                transform: rotate(90deg);
            }
        }
    }
    &__link{
        text-decoration: none;
        display: block;
        padding: 10px 30px 10px 10px;
        color: getColor(gray-dark-3);
        position: relative;
        font-size: 14px;

        ._sub{
            padding-right: 0;
            margin-right: 30px;
        }

        //&:after{
        //    font-family: 'Material Icons';
        //    font-size: 22px;
        //    position: absolute;
        //    top: 50%;
        //    transform: translateY(-50%);
        //    right: 10px;
        //    transition: all 0.2s ease;
        //}
        //._sub &{
        //    &:after{
        //        content: 'keyboard_arrow_right';
        //    }
        //}

        //._drop &{
        //    &:after{
        //        content: 'keyboard_arrow_right';
        //        transform: translateY(-50%) rotate(90deg);
        //    }
        //}

        //._hovered &{
        //    color: getColor(gray-dark-3);
        //}
        //
        //&:hover{
        //    color: getColor(green);
        //}
    }
    &__inner{
        margin: 0;
        padding: 0;
        list-style: none;


        @media screen and (min-width: $screen-md-min) {
            ._sub &{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 105%;
                top: 0;
                z-index: 10;
                width: 300px;
                background-color: getColor(white);
                box-shadow: 0 2px 2px getColor(gray-dark-1);
                transition: all 0.2s ease;
                transform: translateX(-20px);

                &._active{
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }
            ._drop &{
                border-top: 1px solid getColor(gray-light-3);
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            border-top: 1px solid getColor(gray-light-3);
            display: none;
        }

    }
    &__sub{

        &:not(:last-child){
            border-bottom: 1px dashed getColor(gray-light-2);
        }

        &:hover{
            background-color: getColor(gray-light-3);
            .menu__sublink{
                color: getColor(gray-dark-3);
            }
        }

        &._sub{
            position: relative;
            > .menu__sublink{
                padding-right: 30px;
            }

            @media screen and (max-width: $screen-sm-max) {
                .menu__trigger{
                    display: none;
                }
                .menu__inner{
                    display: block;
                    margin-left: 10px;
                }
            }
        }

    }
    &__sublink{
        color: getColor(gray-dark-1);
        font-size: 14px;
        text-decoration: none;
        display: block;
        padding: 10px 15px;

    }
}