.navigation{
	&__list{
		line-height: 21px;
		vertical-align: top;
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
	}
	&__item{
		display: inline-block;
		&._tiny{
			position: relative;
		}
		&._separator{
			position: relative;
			&:not(:first-child){
				span{
					border-left: 1px solid getColor(gray-dark-1);
				}
			}
			span{
				padding: 0 10px;
			  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				padding: 0 5px;
			  }
			}
		}
		&._icon{
			.navigation__link{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		&:hover{
			background-color: getColor(gray-dark-1);
			.navInner{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__link{
		text-decoration: none;
		color: getColor(white);
		text-transform: uppercase;
		padding: 13px 0;
		display: block;
		span{
			display: inline-block;
			vertical-align: middle;
			transition: all 0.2s ease;

			@media screen and (min-width: $screen-lg-min){
				font-size: 12px;
			}
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				font-size: 10px;
			}
			@media screen and (max-width: $screen-sm-max) {
				font-size: 12px;
			}
		}
		&:hover, &._active{
			span{
				color: getColor(orange);
			}
		}
	}
	&__icon{
		display: inline-block;
		vertical-align: middle;
		color: getColor(gray);
		margin-right: 5px;
	}
}
.navInner{
	position: absolute;
	top: 100%;
	left: 0;	

	color: getColor(white);
	background-color: getColor(gray-dark-1);
	z-index: 1000;
	transition: all 0.2s ease;
	opacity: 0;
	visibility: hidden;
	&._pages{
		width: 180px;
		text-align: left;
		&._wide{
			width: 360px;
		}
	}
	&__list{
		li{
			padding: 5px 0;
			border-bottom: 1px dashed getColor(gray);
		}
		a{
			color: getColor(white);
			font-size: 12px;
			text-decoration: none;
			display: inline-block;
			&:hover{
				color: getColor(orange);
			}
		}
	}
	&__separator{
		border-right: 1px dashed getColor(gray-light-2);
		&._solid{
			border-right-style: solid;
		}
	}
	&__foot{
		padding: 20px 0;
		margin: 0 -10px;
		background-color: getColor(gray-dark-3);
		text-align: center;
	}
}