.picker{
    position: relative;
    @media screen and (min-width: $screen-md-min) {
        padding: 40px 0;
    }
    @media screen and (max-width: $screen-sm-max) {
        padding: 15px 0;
    }
    &__inner{
        @include clearfix();

        position: relative;
        z-index: 2;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    &__panel{

        @media screen and (min-width: $screen-md-min){
            float: left;
            width: 193px;
        }
    }
    &__container{

        @media screen and (min-width: $screen-md-min) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 216px;
            right: 0;
            background-color: getColor(white);
            box-shadow: 0 2px 2px rgba(getColor(black), 0.3);
            border-radius: 3px;
        }
        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
    }
    &__wrap{
        @media screen and (min-width: $screen-md-min){
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            padding: 0 10px;
            opacity: 0;
            visibility: hidden;
            &._active{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__item{
        position: relative;
        overflow: hidden;
        height: 100px;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 193px;
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.2s ease;
        margin: 1px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &:after{
            content: '';
            position: absolute;
            z-index: 1;
            height: 200px;
            width: 100%;
            background-color: rgba(getColor(gray-light-2), 0.9);
            transform: rotate(20deg);
            top: -60px;
            left: -50px;
            transition: all 0.2s ease;
        }
        &._active{
            opacity: 1;
            width: 213px;
            @media screen and (min-width: $screen-md-min) {
                margin-left: -10px;
            }

            &:after{
                background-color: rgba(getColor(orange), 0.9);
                left: -60px;
            }
            span{
                transform: scaleX(0.9);
            }
        }
        @media screen and (min-width: $screen-md-min){
            &:hover{
                opacity: 1;
                &:after{
                    background-color: rgba(getColor(orange), 0.9);
                }
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            margin: 1px auto;
        }
        span{
            position: relative;
            z-index: 2;
            font-size: 13px;
            color: getColor(white);
            text-transform: uppercase;
            font-weight: 600;
            transition: all 0.2s ease;
            display: inline-block;
            width: 60%;
            margin-left: 20px;
        }
    }
    &__handler{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        user-select: none;
    }
    &__e{
        cursor: pointer;
        margin: 0 10px;
        &._left{

        }
        &__right{

        }
        &:hover{
            i{
                color: getColor(orange);
            }
        }
    }
    &__slider{

    }
    &__slide{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        opacity: 0;
        visibility: hidden;

        &._active{
            opacity: 1;
            visibility: visible;
        }
    }
    &__phone{

        box-shadow: 0 2px 2px rgba(getColor(black), 0.3);
        background-color: getColor(orange);
        border-radius: 5px 0 0 5px;
        padding: 10px 5px;
        text-decoration: none;
        color: getColor(white);
        position: fixed;
        top: 40%;
        right: 0;
        z-index: 3;
        transition: all 0.2s ease;
        transform: translateX(280px);
        &:hover{
            transform: translateX(0);
        }

        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }

        i{
            color: getColor(white);
            font-size: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        p{
            width: 270px;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
        }
    }
    &__image{
        position: relative;
        display: inline-block;
        img{
            display: block;
        }
    }
    &__dot{
        position: absolute;
        z-index: 1;
        transition: all 0.2s ease;
        top: 50%;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        transform: scale(0) rotate(360deg);
        &.visible{
            opacity: 1;
            visibility: visible;
            transform: scale(1) rotate(0deg);
        }
        &:hover{
            z-index: 2;
            .picker__plus{
                transform: rotate(405deg);

                i{
                    color: getColor(white);
                }
            }

            .picker__popup{
                opacity: 1;
                visibility: visible;
                transform: translateY(0) translateX(0) !important;
            }
        }
    }
    &__plus{
        background-color: getColor(green);
        color: getColor(white);
        box-shadow: 0 2px 4px rgba(getColor(black), 0.7);
        padding: 2px;
        cursor: pointer;
        transition: all 0.2s ease;
        position: relative;
        z-index: 2;
        i{
            transition: all 0.2s ease;
            font-size: 14px;
            display: block;
        }
    }
    &__popup{
        position: absolute;
        z-index: 1;
        background-color: getColor(white);

        transition: all 0.2s ease;
        border: 1px solid getColor(orange-light-1);
        box-shadow: 0 2px 4px rgba(getColor(black), 0.7);

        opacity: 0;
        visibility: hidden;
        width: 250px;

        &._top{
            bottom: 50%;
        }
        &._bottom{
            top: 50%;
        }
        &._left{
            right: 50%;
        }
        &._right{
            left: 50%;
        }
        &._top._left{transform: translateY(-10px) translateX(-10px);}
        &._top._right{transform: translateY(-10px) translateX(10px);}
        &._bottom._left{transform: translateY(10px) translateX(-10px);}
        &._bottom._right{transform: translateY(10px) translateX(10px);}
    }
    &__title{
        background-color: getColor(orange-light-1);
        text-transform: uppercase;
        color: getColor(white);
        font-weight: 600;
        padding: 10px 20px;
        text-align: center;
        font-size: 13px;
    }
    &__body{
        padding: 10px 20px;
        position: relative;
        max-height: 280px;
    }
    &__all{
        font-size: 12px;
        border-bottom: 1px solid getColor(gray-light-2);
        margin: -5px -20px 0;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__product{
        display: table;
        padding: 5px 0;
    }
    &__preview{
        margin-right: 20px;
        display: table-cell;
        vertical-align: middle;
        width: 45px;
        height: 45px;
    }
    &__descr{
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;
    }
    &__name{
        text-transform: uppercase;
        font-size: 11px;
        color: getColor(gray-dark-3);
        margin: 0;
        font-weight: 600;
    }
    &__link{
        font-size: 11px;
    }
}