.private{
    padding: 40px 0;
    &__avatar{
        width: 80px;
        img{
            display: block;
            width: 100%;
        }
    }
    &__name{
        margin-left: 100px;
    }
    &__menu{
        li{
            border-bottom: 1px solid getColor(gray-light-3);
            &._active{
                a{
                    color: getColor(green);
                    span{
                        color: inherit;
                    }
                    i{
                        color: inherit;
                    }
                }
            }
        }
        i{
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            color: inherit;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            color: getColor(gray-dark-2);
        }
        a{
            display: block;
            text-decoration: none;
            color: getColor(gray-light-1);
            padding: 10px 15px;
            &:hover{
                color: getColor(green);
                span{
                    color: inherit;
                }
                i{
                    color: inherit;
                }
            }
        }
        &._func{
            i{
                color: getColor(orange-light-1);
            }
        }
    }
    &__corp{
        background-color: getColor(gray-light-4);
        color: getColor(gray-dark-3);
        text-decoration: none;
        padding: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        transition: all 0.2s ease;
        span{
            margin-left: 20px;
        }
        &:hover{
            background-color: getColor(orange-light-1);
            color: getColor(white);
        }
    }
    &__table{
        width: 100%;
        text-align: center;
        thead{
            th{
                font-weight: 600;
                text-transform: uppercase;
                padding-bottom: 20px;
                border-bottom: 2px solid getColor(gray-light-3);
                &:first-child{
                    text-align: left;
                }
                @media screen and (max-width: $screen-ms-max) {
                    display: none;
                }
            }
        }
        tbody{
            tr{
                @media screen and (min-width: $screen-sm-min) {
                    &:first-child{
                        td{
                            padding-top: 40px;
                        }
                    }
                    &:last-child{
                        td{
                            padding-bottom: 40px;
                            border-bottom: 2px solid getColor(gray-light-3);
                        }
                    }
                }

                @media screen and (max-width: $screen-ms-max) {
                    display: block;
                    margin: 10px 0;
                    border-radius: 3px;
                    box-shadow: 0 2px 2px rgba(getColor(black), 0.2);
                    border: 1px solid getColor(gray-light-3);
                    padding: 10px 15px;
                }
            }
            td{
                @media screen and (min-width: $screen-sm-min) {
                    padding: 20px 0;
                    border-bottom: 1px solid getColor(gray-light-1);
                    &:first-child{
                        text-align: left;
                    }
                }

                @media screen and (max-width: $screen-ms-max) {
                    display: block;
                    text-align: left;
                    padding: 5px 0;
                    &:not(:last-child){
                        border-bottom: 1px solid getColor(gray-light-1);
                    }
                    &:before{
                        content: attr(data-title) ': ';
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        color: getColor(gray-dark-1);
                    }
                }
            }
        }
    }
    &__list{

    }
    &__icon{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        i{
            color: getColor(gray-light-1);
        }
    }
}