.seo{
    p{
        margin: 15px 0;
        line-height: 1.8;
    }
    &__box{
        @media screen and (min-width: $screen-md-min) {
            padding: 20px 0 20px 60px;
        }
    }
    &__title{
        position: relative;
        &:before{
            content: '';
            background-image: url('../images/seo-icon.png');
            background-repeat: no-repeat;
            background-position: center center;
            width: 42px;
            height: 42px;
            position: absolute;
            top: 0;
            left: -60px;
        }
    }
}