.separator {
    @include clearfix();
    &__item{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;

        @media screen and (min-width: $screen-md-min) {
            height: 400px;
            float: left;
            width: 50%;
        }
    }
    &__header{
        text-align: center;
        color: getColor(white);

        position: relative;
        z-index: 3;
        @media screen and (min-width: $screen-md-min) {
            height: 80px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            font-size: 18px;
        }
        @media screen and (max-width: $screen-sm-max) {
            padding: 15px 10px;
        }
        &._black{
            background-color: rgba(getColor(gray-dark-4), 0.64);
        }
        &._orange{
            background-color: rgba(getColor(orange), 0.8);
        }
        h4{
            text-transform: uppercase;
            margin: 0;
        }
    }
    &__body{

        @media screen and (min-width: $screen-md-min) {
            height: 320px;
        }
        &._feedback{
            @media screen and (min-width: $screen-md-min) {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 40px;
                .owl-carousel{
                    max-width: 540px;
                }
            }
            @media screen and (max-width: $screen-sm-max) {
                padding: 20px 10px;
            }

        }
        &._video{
            @media screen and (max-width: $screen-sm-max) {
                position: absolute;
                top: 63%;
                left: 0;
                right: 0;
            }
            position: relative;
            z-index: 2;
            user-select: none;
            &:hover{
                .separator__e._play{
                    i{
                        color: getColor(orange-light-1);
                    }
                }
            }
        }
    }
    &__e{
        cursor: pointer;
        position: absolute;
        top: 50%;
        i{
            text-shadow: 0px 0px 2px getColor(gray-dark-3);
        }
        &:hover{
            i{
                color: getColor(orange) !important;
            }
        }
        &._left, &._right{
            transform: translateY(-50%);
            i{
                color: getColor(orange-light-1);
                font-size: 76px;
            }
        }
        &._left{
            left: 20px;
        }
        &._right{
            right: 20px;
        }
        &._play{
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            i{
                color: getColor(orange-light-1);
                font-size: 86px;
            }

        }
    }
    &__slider{
        @media screen and (min-width: $screen-md-min) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
        }
    }
    &__slide{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media screen and (min-width: $screen-md-min) {
            height: 400px;
        }
        img{
            visibility: hidden;

            @media screen and (min-width: $screen-md-min) {
                height: 100%;
                width: auto !important;
                max-width: none;
            }
        }

    }
}