.showcase{
    padding-top: 30px;
    &__wrap{
        padding: 10px;
    }
    &__item{
        border-radius: 3px;
        box-shadow: 0 2px 2px rgba(getColor(black), 0.2);
        background-color: getColor(white);
        border-bottom: 2px solid getColor(white);
        transition: all 0.2s ease;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        &:hover{
            border-bottom-color: getColor(green);
        }
        &._row{
            @media screen and (min-width: $screen-md-min) {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 20px 10px;
            }
        }
    }
    &__head{
        border-bottom: 1px solid getColor(gray-light-4);
        padding: 15px 20px 5px;
        text-align: center;
        ._row &{
            @media screen and (min-width: $screen-md-min) {
                padding: 0;
                width: 20%;
                border: none;
            }
        }
    }
    &__pic{
        img{
            width: auto !important;
            display: inline-block !important;
            height: 160px;
        }
    }
    &__name{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;
            color: getColor(gray-dark-3);
            font-weight: 600;
        }

        ._row &{
            height: auto;
            display: block;
        }
    }
    &__descr{
        font-size: 12px;
        margin: 10px 0;
    }
    &__foot{
        border-top: 1px solid getColor(gray-light-4);
        padding: 20px;
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }
        ._row &{
            @media screen and (min-width: $screen-md-min) {
                width: 25%;
                padding: 0;
                border: none;
                text-align: left;
            }
        }

        @media screen and (max-width: $screen-ms-max) {
            .u-btn{
                margin-top: 15px;
            }
        }
    }
    &__price{
        position: relative;
        ._row &{
            margin: 10px 0;
            text-align: center;
        }
    }
    &__old{
        font-size: 16px;
        color: getColor(gray-light-1);


        @media screen and (min-width: $screen-md-min) {
            position: absolute;
            top: -20px;
            left: 0;
        }
        @media screen and (max-width: $screen-sm-max) {
            position: relative;
            margin-right: 5px;
        }
        ._row &{
            position: relative;
            margin-right: 5px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: getColor(orange);
            transform-origin: 0px 0px;
            transform: rotate(15deg);
        }
        &:after{
            font-family: 'rouble';
            content: "\e900";
            font-weight: 400;
            font-size: 12px;
            vertical-align: 1px;
            margin-left: 3px;
        }
    }
    &__calc{
        font-size: 12px;
        &:before{
            content: url('../images/card/calc.png');
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    &__actual{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 1;
        &:after{
            font-family: 'rouble';
            content: "\e900";
            font-weight: 400;
            font-size: 20px;
            vertical-align: 2px;
            margin-left: 4px;
        }
    }
    &__body{
        padding: 5px 20px;
        @media screen and (max-width: $screen-ms-max) {
            @include clearfix();
        }
        ._row &{
            @media screen and (min-width: $screen-md-min) {
                padding: 0 10px;
                width: 55%;
            }
        }
    }
    &__field{
        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
            width: 100%;
            
            .showcase__item &{
                justify-content: space-between;
            }
        }
        &_naked{
            padding: 0;
        }
        @media screen and (max-width: $screen-ms-max) {
            padding: 5px 0;
            float: left;
            width: 50%;
            &:first-child{
                padding-right: 5px;
            }
            &:last-child{
                padding-left: 5px;
            }
        }
        @media screen and (max-width: $screen-md-max) {
            ._row &{
                display: block;
            }
        }
    }
    &__label{
        @media screen and (max-width: $screen-ms-max) {
            display: block;
            margin-bottom: 5px;
        }
        @media screen and (max-width: $screen-md-max) {
            ._row &{
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    &__input{
        @media screen and (min-width: $screen-sm-min) {
            width: 50%;
        }
        text-align: center;
        @media screen and (max-width: $screen-md-max) {
            ._row &{
                width: 100%;
            }
        }
    }
    &__select{
        @media screen and (min-width: $screen-sm-min) {
            width: 50%;
        }

        input{
            display: block;
            width: 100%;
        }
        @media screen and (max-width: $screen-md-max) {
            ._row &{
                width: 100%;
            }
        }
    }
    &__func{
        padding: 2px 0;
        display: inline-block;
        @media screen and (max-width: $screen-sm-max) {
            //&:last-child{
            //    margin-bottom: 20px;
            //}
        }

        ._row &{
            margin: 0 5px;

        }

        .funcLink {
            &._favorite, &._swap_horiz{
                .funcLink__icon{
                    color: getColor(gray-light-2);
                }
                .funcLink__text{
                    color: getColor(gray-light-2);
                    &:hover{
                        color: getColor(green);
                    }
                }
            }
            &._favorite{
                &._active{
                    .funcLink__icon{
                        color: getColor(red)
                    }
                }
            }
            &._swap_horiz{
                &._active{
                    .funcLink__icon{
                        color: getColor(red)
                    }
                }
            }
            &._active{
                .funcLink__text{
                    color: getColor(gray-dark-3);
                }
            }
            &._dialpad{
                .funcLink__text{
                    font-size: 14px;
                }
                &:before{
                    content: url('../images/card/calc.png');
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5px;
                }
            }
        }
    }
    &__fast{
        color: getColor(green);
        padding-top: 16px;
        cursor: pointer;
        i{
            font-size: 16px;
            color: inherit;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        span{
            font-size: 12px;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            text-decoration: underline;
        }
        &:hover{
            span{
                text-decoration: none;
            }
        }
    }
}