<div class="pb-40">
    <h2>
        КАЛЬКУЛЯТОР для расчета огнезащитных антисептиков и пропиток. <br/>Как рассчитать объем огнезащитной
        пропитки для обработки сруба дома.
    </h2>
    <h3>
        Рассчитать потребность и количество пропитки для обработки сруба дома антисептиком.
        <br/>Расчет необходимого объема антисептика для обработки древесины, кирпича, лака для Печей.
    </h3>
    <span> ДОСТАВКА по Москве БЕСПЛАТНО <small> при заказе от 9800руб</small></span>
    <p>
        Программа КАЛЬКУЛЯТОР для расчета огнезащитного антисептика или пропитки для древесины, бетона, ткани
        поможет вам точно подобрать и рассчитать нужное вам количество защитной пропитки для обработки
        практически любой поверхности из имеющихся у нас в наличии. Калькулятор так же предложит вам
        ОПТИМАЛЬНЫЕ РЕШЕНИЯ, основанные на принципах нашей компании -
        <strong>ЛУЧШЕЕ КАЧЕСТВО ПО РАЗУМНОЙ ЦЕНЕ</strong>.
    </p>

    <p>
        Мы рекомендуем ознакомиться с полным нашим ассортиментом ОГНЕзащитных пропиток и антисептиков для
        защиты деревянных домов из бревна и бруса. Это позволит вам предварительно получить необходимые
        представления о качественных пропитках для защиты вашего дома и возможно отдать кому либо из них
        свои предпочтения, чтобы далее сравнить с другими по цене, расходу и условиям нанесения. КАЛЬКУЛЯТОР
        поможет выбрать антисептик для древесины которым можно обрабатывать сруб или пиломатериалы ЗИМОЙ, в
        мороз при минусовых температурах до -25С. Такие ВЫСОКОЭФФЕКТИВНЫЕ огнезащитные пропитки и
        антисептики как АНТЕКС ПРЕМИУМ, Антекс ЭКСТРА, МАСЛОВОСК-АНТА могут защитить древесину в зимний
        период.
    </p>
    <h3>
        <span>Как работать с КАЛЬКУЛЯТОРОМ. Выбираем, вводим площадь, получаем результат! </span>
    </h3>
    <p>
        Калькулятор очень прост в использовании. Выбирайте производителя, ДАЛЕЕ выбирайте ИЛИ КОМПЛЕКСНЫЙ -
        огнебиозащитный антисептик ИЛИ просто БИОзащиту (защита от ПЛЕСЕНИ, грибка, ДРЕВОТОЧЦА и т.п.). Если
        вы сделали свое предпочтение по названию пропитки по производителю - выбирайте его. Если вы хотите
        СРАВНИТЬ ВСЕ предложения одного производителя выбирайте кнопку "Показать ВСЕ пропитки" и далее
        укажите ПЛОЩАДЬ, которую вам необходимо обработать. Нажмите кнопку "РАССЧИТАТЬ" и программа
        предложит ЛУЧШЕЕ РЕШЕНИЕ.
    </p>
    <hr/>
    <script type="text/javascript">// <![CDATA[
    $(document).ready(function () {
        $('#form input').attr('disabled', false);
    });
    var lastFormId = null;
    function processNextStep(e) {
        var nextChoice = $(e).parent().find(':checked').val();
        if (!nextChoice) return;
        $(e).parent().find('input').attr('disabled', true);

        var v = nextChoice.substring(2);
        console.log('nextChoice = ' + nextChoice);
        if (nextChoice.indexOf('s ') === 0) {
            $('#form-' + v).show();
            $('#form-' + v + ' input').attr('disabled', false);
            lastFormId = v;
        }
        if (nextChoice.indexOf('r ') === 0) {
            ShowResult(v);
        }
        if (nextChoice.indexOf('k ') === 0) {
            lastFormId = '-1';
            $('#block_result2').show();
        }
    }

    function processPrevStep(e) {
        var pid = jQuery(e).parent().attr('id');
        console.log('prev ' + pid)
        if (pid == 'block_result' || pid == 'block_result2') {
            if (lastFormId) {
                if (lastFormId == -1) {
                    $('#form' + ' input').attr('disabled', false);
                } else {
                    $('#form-' + lastFormId + ' input').attr('disabled', false);
                }
                $('#block_result').hide();
                $('#block_result2').hide();
            }
        } else {
            $('#' + pid).hide();
            var p = pid.lastIndexOf('-');
            pid2 = pid.substring(0, p);
            $('#' + pid2 + ' input').attr('disabled', false);
        }
    }

    function ShowResult(neededProducts) {
        $('#block_result').show();
        document.getElementById("clientInput").value = 0;

        $('#block_result .tableRow').hide();
        var temp = neededProducts.split('|');
        for (var i = 0; i < temp.length; i++) {
            var n = temp[i];
            if (n.substr(n.length - 1) == '-') {
                $("tr[class^='tableRow p-" + n + "']").show();
            } else {
                $('.p-' + temp[i]).show();
            }
        }
        recountAllProductsWhenClientChangesValue('clientInput');
    }

    function recountAllProductsWhenClientChangesValue() {
        var clientInput = jQuery('#clientInput').val();

        if (isNaN(parseInt(clientInput))) {
            clientInput = 1;
            alert("Введите число");
            return;
        }

        jQuery('.calc-results-table .tableRow:visible').each(function () {
            var charge = jQuery(this).find('.charge').html();
            jQuery(this).find('.result').html(charge * clientInput / 1000);
        });
    }
    function calc2() {
        var l = $('#litres').val().replace(",", ".");
        var c = $('#conc').val().replace(",", ".");
        var r = l * c / 100;
        $('#block_result2 .res').html('Для колеровки указанного Вами количества Масловоск в заданный вами ПРОЦЕНТ пигмента Вам потребуется ПИГМЕНТА в КИЛОГРАММАХ = ' + r);
    }
    // ]]></script>
    <!--  Первый шаг выбора -->
    <center><span style="font-family: arial,helvetica,sans-serif; font-size: 11pt; color: #f8061a;"> <strong>Затрудняетесь</strong> с выбором? <strong>Перезвоните</strong> нам с 6.45 до 24.00 БЕЗ ВЫХОДНЫХ. <br/> <span
            style="font-family: arial,helvetica,sans-serif; font-size: 10pt; color: #800000;"> Наши специалисты подберут ЛУЧШЕЕ РЕШЕНИЕ оптимальное по ЦЕНЕ и КАЧЕСТВУ для ваших целей !!!</span></span>
    </center>
    <p><br/> <span style="font-size: 13px; font-weight: bold; color: #221816;">Выберите ПРОИЗВОДИТЕЛЯ пропитки. </span>
    </p>

    <form id="form"><br/> <input name="radios" value="s 1" checked="checked" type="radio"/> АНТЕКС. Огне-Био-защитные
        антисептики и пропитки. Возможна обработка ЗИМОЙ до -20С<br/> <input name="radios" value="s 2" type="radio"/>
        МАСЛОВОСК АНТА. Натуральные антисептики на ПЧЕЛИНОМ воске. Применение возможно до -25С<br/> <input name="radios"
                                                                                                           value="s 3"
                                                                                                           type="radio"/>
        ПИРИЛАКС и НОРТЕКС. ОгнеБиозащитные пропитки<br/> <input name="radios" value="s 4" type="radio"/> ЭЛКОН.
        Огне-Био- защитные Кремнийорганические пропитки<br/> <input name="radios" value="s 5" type="radio"/>
        Термостойкие ЛАКИ для ПЕЧЕЙ и КАМИНОВ<br/> <input name="radios" value="k 6" type="radio"/> ПИГМЕНТЫ и
        КОЛЕРОВОЧНЫЕ пасты КолорЛак для колеровки МАСЛОВОСК АНТА<br/> <br/> <input onclick="processNextStep(this)"
                                                                                   value="Далее &gt;&gt;"
                                                                                   type="button"/><br/><br/></form>
    <form id="form-1" style="display: none;"><input name="radios" value="s 1-1" type="radio"/> мне необходима
        ОГНЕ-БИО-защитная пропитка, т.е. КОМПЛЕКСНАЯ защита<br/> <input name="radios" value="s 1-2" type="radio"/> мне
        необходима только БИО- защитная пропитка<br/> <br/> <input onclick="processPrevStep(this)" value="Назад"
                                                                   type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-1-1" style="display: none;"><input name="radios" value="r 1-1-0" type="radio"/> Антекс ТИТАН <span
            style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> (ХИТ продаж! Не тонирует древесину. Возможна обработка зимой до -20С!)</span>
        <br/> <input name="radios" value="r 1-1-1" type="radio"/> Антекс ПРЕМИУМ<br/> <input name="radios"
                                                                                             value="r 1-1-2"
                                                                                             type="radio"/> Антекс
        ЭКСТРА<br/> <input name="radios" value="r 1-1-3" type="radio"/> Антекс ЛАЙТ<br/> <input name="radios"
                                                                                                value="r 1-1-4"
                                                                                                type="radio"/> Антекс
        ПРОФИ <span style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> (пропитка в стадии ПРАКТИЧЕСКИХ испытаний)</span>
        <br/> <input name="radios" value="r 1-1-" type="radio"/> Показать ВСЕ эти пропитки. СРАВНИТЬ их и ВЫБРАТЬ <span
                style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span>
        <br/> <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-1-2" style="display: none;"><input name="radios" value="r 1-2-1" type="radio"/> Антекс БРИЗ<br/>
        <input name="radios" value="r 1-2-2" type="radio"/> Антекс МУССОН<br/> <input name="radios" value="r 1-2-3"
                                                                                      type="radio"/> Антекс ШТИЛЬ<br/>
        <input name="radios" value="r 1-2-" type="radio"/> Показать ВСЕ эти пропитки. СРАВНИТЬ их и ВЫБРАТЬ <span
                style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span><br/>
        <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-2" style="display: none;"><input name="radios" value="r 2-1" type="radio"/> Масловоск СТАНДАРТ<br/>
        <input name="radios" value="r 2-2" type="radio"/> Масловоск ИНТЕРЬЕР<br/> <input name="radios" value="r 2-3"
                                                                                         type="radio"/> Масловоск
        ПРЕМИУМ<br/> <input name="radios" value="r 2-4" type="radio"/> Масловоск ЛИДЕР GOLD<br/> <input name="radios"
                                                                                                        value="r 2-5"
                                                                                                        type="radio"/>
        Масловоск ТОРЕЦ<br/> <input name="radios" value="r 2-6" type="radio"/> Масловоск БАНЯ Сауна<br/> <input
                name="radios" value="r 2-7" type="radio"/> Масловоск ПАРКЕТ Терраса<br/> <input name="radios"
                                                                                                value="r 2-8"
                                                                                                type="radio"/> Масловоск
        ЛОСКУТНЫЙ воск<br/> <input name="radios" value="r 2-9" type="radio"/> Масловоск МАСТИКА<br/> <input
                name="radios" value="r 2-10" type="radio"/> Масловоск ДЕКОР Мебель<br/> <input name="radios"
                                                                                               value="r 2-11"
                                                                                               type="radio"/> Масловоск
        МАСТЕР<br/> <input name="radios" value="r 2-12" type="radio"/> Масловоск АНТИКВАР<br/> <input name="radios"
                                                                                                      value="r 2-13"
                                                                                                      type="radio"/>
        Масловоск ЭКСПРЕСС<br/> <input name="radios" value="r 2-14" type="radio"/> Масловоск МАКСИМУМ<br/> <input
                name="radios" value="r 2-15" type="radio"/> Масловоск АКТИВАТОР<br/> <input name="radios" value="r 2-"
                                                                                            type="radio"/> Показать ВСЕ
        эти пропитки. СРАВНИТЬ их и ВЫБРАТЬ <span
                style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span><br/>
        <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-3" style="display: none;"><input name="radios" value="s 3-1" type="radio"/> мне необходима
        ОГНЕ-БИО-защитная пропитка, т.е. КОМПЛЕКСНАЯ защита<br/> <input name="radios" value="s 3-2" type="radio"/> мне
        необходима только БИО- защитная пропитка<br/> <br/> <input onclick="processPrevStep(this)" value="Назад"
                                                                   type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-3-1" style="display: none;"><input name="radios" value="r 3-1-0" type="radio"/> Пирилакс ЛЮКС<br/>
        <input name="radios" value="r 3-1-1" type="radio"/> Пирилакс КЛАССИК (Пирилакс 3000)<br/> <input name="radios"
                                                                                                         value="r 3-1-2"
                                                                                                         type="radio"/>
        Пирилакс ТЕРМА (Пирилакс СС-20)<br/> <input name="radios" value="r 3-1-3" type="radio"/> Пирилакс ПРАЙМ<br/>
        <input name="radios" value="r 3-1-4" type="radio"/> ОЗОН-007<br/> <input name="radios" value="r 3-1-5"
                                                                                 type="radio"/> Нортекс Х. Защита ткани
        Х/Б<br/> <input name="radios" value="r 3-1-6" type="radio"/> Нортекс С. Защиты ткани с синтетикой от 70 до
        100%<br/> <input name="radios" value="r 3-1-7" type="radio"/> Нортекс Ш. Защита шерстяных тканей<br/> <input
                name="radios" value="r 3-1-8" type="radio"/> Нортекс КП. Защита тканей ПАН, ПА 100%<br/> <input
                name="radios" value="r 3-1-" type="radio"/> Показать ВСЕ эти пропитки. СРАВНИТЬ их и ВЫБРАТЬ <span
                style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span><br/>
        <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-3-2" style="display: none;"><input name="radios" value="r 3-2-1" type="radio"/> Нортекс ДОКТОР<br/>
        <input name="radios" value="r 3-2-2" type="radio"/> Нортекс ДЕЗИНФЕКТОР (Нортекс ЛЮКС)<br/> <input name="radios"
                                                                                                           value="r 3-2-3"
                                                                                                           type="radio"/>
        финишная пропитка КРАСУЛА<br/> <input name="radios" value="r 3-2-" type="radio"/> Показать ВСЕ эти пропитки.
        СРАВНИТЬ их и ВЫБРАТЬ <span style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span><br/>
        <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-4" style="display: none;"><input name="radios" value="s 4-1" type="radio"/> мне необходима
        ОГНЕ-БИО-защитная пропитка, т.е. КОМПЛЕКСНАЯ защита<br/> <input name="radios" value="s 4-2" type="radio"/> мне
        необходима только БИО- защитная пропитка<br/> <br/> <input onclick="processPrevStep(this)" value="Назад"
                                                                   type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-4-1" style="display: none;"><input name="radios" value="r 4-1-0" type="radio"/> Элкон ЛЮКС<br/>
        <input name="radios" value="r 4-1-1" type="radio"/> Элкон АКВА ЛЮКС<br/> <input name="radios" value="r 4-1-"
                                                                                        type="radio"/> Показать ВСЕ эти
        пропитки. СРАВНИТЬ их и ВЫБРАТЬ <span
                style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span><br/>
        <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-4-2" style="display: none;"><input name="radios" value="r 4-2-1" type="radio"/> Элкон БИО<br/> <input
            name="radios" value="r 4-2-2" type="radio"/> Элкон АКВА<br/> <input name="radios" value="r 4-2-3"
                                                                                type="radio"/> Элкон ТОРЕЦ<br/> <input
            name="radios" value="r 4-2-4" type="radio"/> Элкон САУНА<br/> <input name="radios" value="r 4-2-5"
                                                                                 type="radio"/> Элкон БЕТОН<br/> <input
            name="radios" value="r 4-2-6" type="radio"/> Элкон АКВА БЕТОН<br/> <input name="radios" value="r 4-2-"
                                                                                      type="radio"/> Показать ВСЕ эти
        пропитки. СРАВНИТЬ их и ВЫБРАТЬ <span
                style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span><br/>
        <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <form id="form-5" style="display: none;"><input name="radios" value="r 5-1" type="radio"/> КО-85<br/> <input
            name="radios" value="r 5-2" type="radio"/> КО-815<br/> <input name="radios" value="r 5-" type="radio"/>
        Показать ВСЕ эти пропитки. СРАВНИТЬ их и ВЫБРАТЬ <span
                style="font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #9f9f9f;"> по ПРЕДПОЧТЕНИЮ, по цене, по расходу.</span><br/>
        <br/> <input onclick="processPrevStep(this)" value="Назад" type="button"/>&nbsp; <input
                onclick="processNextStep(this)" value="Далее &gt;&gt;" type="button"/><br/><br/></form>
    <!--  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --><!-- результат -->
    <div id="block_result" style="display: none;"><br/><br/> <input value="Назад" onclick="processPrevStep(this)"
                                                                    type="button"/>&nbsp;&nbsp; <input value="В начало"
                                                                                                       onclick="location.reload()"
                                                                                                       type="button"/><br/><br/>
        <span class="simpleText">ВВЕДИТЕ ПЛОЩАДЬ обрабатываемой поверхности (м<sup>2</sup>)</span> <br/> <input
                id="clientInput" length="5" style="width: 40px; border: 2px solid dark-red;" value="0"
                onchange="recountAllProductsWhenClientChangesValue('clientInput')" type="text"/> <span><input
                value="ПОСЧИТАТЬ необходимое количество пропитки"
                onclick="recountAllProductsWhenClientChangesValue('clientInput')" type="button"/></span> <br/><br/>
        <table class="subtabl calc-results-table"
               style="border-width: 1px; border-color: #505050; font-family: times new roman,times; font-size: 12px; color: #505050;"
               border="1" cellspacing="1px" cellpadding="10px">
            <tbody>
            <tr>
                <th>Рекомендуемая ПРОПИТКА для обработки поверхности</th>
                <th>класс защиты поверхности после обработки</th>
                <th>расход, г/м.<sup>2</sup></th>
                <th>ПОТРЕБУЕТСЯ пропитки для обработки указанной Вами площади поверхности (кг)</th>
            </tr>
            <tr class="tableRow p-1-1-0">
                <td rowspan="3">Антекс ТИТАН<br/><a href="http://kolorlak.ru/shop/folder/anteks-titan" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">280</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-0">
                <td>II группа огнезащиты</td>
                <td class="charge">180</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-0">
                <td>только биозащита</td>
                <td class="charge">150</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-1">
                <td rowspan="3">Антекс ПРЕМИУМ<br/><a href="http://kolorlak.ru/shop/folder/anteks-premium"
                                                      target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">280</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-1">
                <td>II группа огнезащиты</td>
                <td class="charge">180</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-1">
                <td>только биозащита</td>
                <td class="charge">150</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-2">
                <td rowspan="3">Антекс ЭКСТРА<br/><a href="http://kolorlak.ru/shop/folder/anteks-ekstra"
                                                     target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">280</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-2">
                <td>II группа огнезащиты</td>
                <td class="charge">180</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-2">
                <td>только биозащита</td>
                <td class="charge">150</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-3">
                <td rowspan="2">Антекс ЛАЙТ<br/><a href="http://kolorlak.ru/shop/folder/anteks-layt" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>II группа огнезащиты</td>
                <td class="charge">250</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-3">
                <td>только биозащита</td>
                <td class="charge">195</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-4">
                <td rowspan="3">Антекс ПРОФИ<br/><a href="http://kolorlak.ru/shop/folder/anteks-profi" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">295</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-4">
                <td>II группа огнезащиты</td>
                <td class="charge">195</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-1-4">
                <td>только биозащита</td>
                <td class="charge">150</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-2-1">
                <td>Антекс БРИЗ<br/><a href="http://kolorlak.ru/shop/folder/anteks-briz" target="_blank">купить через
                    наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                             border="0"/></a></td>
                <td>эффективная биозащита</td>
                <td class="charge">175</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-2-2">
                <td>Антекс МУССОН<br/><a href="http://kolorlak.ru/shop/folder/anteks-musson" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>эффективная биозащита</td>
                <td class="charge">195</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-1-2-3">
                <td>Антекс ШТИЛЬ<br/><a href="http://kolorlak.ru/shop/folder/anteks-shtil" target="_blank">купить через
                    наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                             border="0"/></a></td>
                <td>эффективная биозащита</td>
                <td class="charge">170</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-1">
                <td>Масловоск СТАНДАРТ<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-premium" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">100</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-2">
                <td>Масловоск ИНТЕРЬЕР<br/><a
                        href="http://kolorlak.ru/shop/folder/maslovosk-dlya-dlya-vnutrenney-chasti-doma"
                        target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">100</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-3">
                <td>Масловоск ПРЕМИУМ<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-anta-bio-uf-premium"
                                             target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">95</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-4">
                <td>Масловоск ЛИДЕР GOLD<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-lider-gold"
                                                target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">95</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-5">
                <td>Масловоск ТОРЕЦ<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-dlya-torcov" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">170</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-6">
                <td>Масловоск БАНЯ Сауна<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-dlya-sauny-i-parnoy"
                                                target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">100</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-7">
                <td>Масловоск ПАРКЕТ Терраса<br/><a
                        href="http://kolorlak.ru/shop/folder/maslovosk-dlya-polov-parketa-palubnoy-doski-na-otkrytyh-vera"
                        target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">100</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-8">
                <td>Масловоск ЛОСКУТНЫЙ воск<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-loskutnyy-vosk"
                                                    target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">95</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-9">
                <td>Масловоск МАСТИКА<br/><a href="http://kolorlak.ru/shop/folder/dlya-vtorichnoy-obrabotki-poverhnosti"
                                             target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">85</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-10">
                <td>Масловоск ДЕКОР Мебель<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-dekor-mebel"
                                                  target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">75</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-11">
                <td>Масловоск МАСТЕР<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-master" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">70</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-12">
                <td>Масловоск АНТИКВАР<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-antikvar" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">65</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-13">
                <td>Масловоск ЭКСПРЕСС<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-ekspress" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">95</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-14">
                <td>Масловоск МАКСИМУМ<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-maksimum" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">90</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-2-15">
                <td>Масловоск АКТИВАТОР<br/><a href="http://kolorlak.ru/shop/folder/maslovosk-aktivator"
                                               target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">70</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-0">
                <td rowspan="3">Пирилакс ЛЮКС<br/><a href="http://kolorlak.ru/shop/folder/29455403" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">300</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-0">
                <td>II группа огнезащиты</td>
                <td class="charge">200</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-0">
                <td>только биозащита</td>
                <td class="charge">150</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-1">
                <td rowspan="3">Пирилакс КЛАССИК ( Пирилакс 3000)<br/><a href="http://kolorlak.ru/shop/folder/29455603"
                                                                         target="_blank">купить через наш
                    ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                         border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">300</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-1">
                <td>II группа огнезащиты</td>
                <td class="charge">200</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-1">
                <td>только биозащита</td>
                <td class="charge">150</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-2">
                <td rowspan="3">Пирилакс ТЕРМА (Пирилакс СС-20)<br/><a href="http://kolorlak.ru/shop/folder/29455803"
                                                                       target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">300</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-2">
                <td>II группа огнезащиты</td>
                <td class="charge">200</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-2">
                <td>только биозащита</td>
                <td class="charge">150</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-3">
                <td rowspan="2">Пирилакс ПРАЙМ<br/><a href="http://kolorlak.ru/shop/folder/pirilaks-praym"
                                                      target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>II группа огнезащиты</td>
                <td class="charge">250</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-3">
                <td>только биозащита</td>
                <td class="charge">220</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-4">
                <td rowspan="2">ОЗОН-007<br/><a href="http://kolorlak.ru/shop/folder/29453803" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">300</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-4">
                <td>II группа огнезащиты</td>
                <td class="charge">200</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-5">
                <td>Нортекс Х. Защита ткани Х/Б<br/><a href="http://kolorlak.ru/shop/folder/29447403" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>Группа В-1, РП-1, КМ-2</td>
                <td class="charge">320</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-6">
                <td>Нортекс С. Защиты ткани с синтетикой от 70 до 100%<br/><a
                        href="http://kolorlak.ru/shop/folder/29447603" target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>Группа В-1, РП-1, КМ-2</td>
                <td class="charge">390</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-7">
                <td>Нортекс Ш. Защита шерстяных тканей<br/><a href="http://kolorlak.ru/shop/folder/29448003"
                                                              target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>Группа В-1, РП-1, КМ-2</td>
                <td class="charge">390</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-1-8">
                <td>Нортекс КП. Защита тканей ПАН, ПА 100%<br/><a href="http://kolorlak.ru/shop/folder/29448203"
                                                                  target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>Группа В-1, РП-1, КМ-2</td>
                <td class="charge">4500</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-2-1">
                <td>Нортекс ДОКТОР<br/><a href="http://kolorlak.ru/shop/folder/29451403" target="_blank">купить через
                    наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                             border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">200</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-2-2">
                <td>Нортекс ДЕЗИНФЕКТОР (Нортекс ЛЮКС)<br/><a href="http://kolorlak.ru/shop/folder/29451603"
                                                              target="_blank">купить через наш ИНТЕРНЕТ-МАГАЗИН<img
                        src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top" border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">180</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-3-2-3">
                <td>финишная пропитка КРАСУЛА<br/><a href="http://kolorlak.ru/shop/folder/29450003" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">250</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-1-0">
                <td rowspan="2">Элкон ЛЮКС<br/><a href="http://kolorlak.ru/shop/folder/29452403" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>II группа огнезащиты</td>
                <td class="charge">300</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-1-0">
                <td>только биозащита</td>
                <td class="charge">250</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-1-1">
                <td rowspan="3">Элкон АКВА ЛЮКС<br/><a href="http://kolorlak.ru/shop/folder/29452603" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>I группа огнезащиты</td>
                <td class="charge">550</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-1-1">
                <td>II группа огнезащиты</td>
                <td class="charge">300</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-1-1">
                <td>только биозащита</td>
                <td class="charge">200</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-2-1">
                <td>Элкон БИО<br/><a href="http://kolorlak.ru/shop/folder/29452803" target="_blank">купить через наш
                    ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                         border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">300</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-2-2">
                <td>Элкон АКВА<br/><a href="http://kolorlak.ru/shop/folder/29453003" target="_blank">купить через наш
                    ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                         border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">280</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-2-3">
                <td>Элкон ТОРЕЦ<br/><a href="http://kolorlak.ru/shop/folder/29449603" target="_blank">купить через наш
                    ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                         border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">650</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-2-4">
                <td>Элкон САУНА<br/><a href="http://kolorlak.ru/shop/folder/29449403" target="_blank">купить через наш
                    ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                         border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">280</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-2-5">
                <td>Элкон БЕТОН<br/><a href="http://kolorlak.ru/shop/folder/29453203" target="_blank">купить через наш
                    ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                         border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">380</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-4-2-6">
                <td>Элкон АКВА БЕТОН<br/><a href="http://kolorlak.ru/shop/folder/29453403" target="_blank">купить через
                    наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                             border="0"/></a></td>
                <td>только биозащита</td>
                <td class="charge">350</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-5-1">
                <td>КО-85 лак для печи<br/><a href="http://kolorlak.ru/shop/folder/29450203" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">350</td>
                <td class="result">&nbsp;</td>
            </tr>
            <tr class="tableRow p-5-2">
                <td>КО-815 лак для топок<br/><a href="http://kolorlak.ru/shop/folder/29450203" target="_blank">купить
                    через наш ИНТЕРНЕТ-МАГАЗИН<img src="http://anta-01.ru/d/56205/d/cart_small.gif" alt="" align="top"
                                                   border="0"/></a></td>
                <td>расход для эффективной защиты</td>
                <td class="charge">350</td>
                <td class="result">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="block_result2" style="display: none;"><br/><br/> <input value="Назад" onclick="processPrevStep(this)"
                                                                     type="button"/>&nbsp;&nbsp; <input value="В начало"
                                                                                                        onclick="location.reload()"
                                                                                                        type="button"/><br/><br/>
        <label style="display: inline-block; width: 360px; margin: 5px 0;">Введите количество Масловоск для колеровки в
            литрах:</label><input type="text" id="litres" style="width: 50px;"/><br/> <label
                style="display: inline-block; width: 360px; margin: 5px 0;">Выберите концентрацию пигмента в % (обычно 5
            - 15%):</label><input type="text" id="conc" style="width: 50px;"/><br/> <input type="button"
                                                                                           onclick="calc2()"
                                                                                           value="Посчитать!"/>

        <div class="res" style="margin: 20px 0; font-weight: bold;">&nbsp;</div>
    </div>
</div>