section.bannerTop
    img(src="images/banner-top.jpg")
    div.bannerTop__inner
        h2.bannerTop__title Удобный способ#[br] подобрать состав
        a(href="#").u-btn._block._full._solid._orange._shadow.p-ver-10 Перейти
