div.iconBox.mb-10
    div.iconBox__icon
        +materialIcon('local_phone')(class="fs-16 gray-text")
    div.iconBox__text
        each item in contacts.phones
            p.fs-13
                span.fs-15= item.value
                span.hidden-md= item.text

div.iconBox
    div.iconBox__icon
        +materialIcon('local_post_office')(class="fs-16 gray-text")
    div.iconBox__text
            p.fs-13
                a(href="mailto:" + contacts.mail.value)= contacts.mail.value
                span.hidden-md= contacts.mail.text
