section
    h4.ttu.fw-700.fs-20.m-per-0.mb-20 Советует эксперт-технолог
    nav.menu
        ul.menu__list(data-list="naked")
            each item in menu
                if(item.inner)
                    li.menu__item._sub
                        a.menu__link(href=item.href)= item.value
                        ul.menu__inner
                            each value in item.inner
                                li.menu__sub
                                    a.menu__sublink(href=value.href)= value.value
                else
                    li.menu__item
                        a.menu__link(href=item.href)= item.value
