section.footerMenu
    each item, index in footerMenu
        div.footerMenu__box
            h5.orange-light-1-text.ttu.fw-600.m-per-0.mb-10.fs-13= item.title
            ul(data-list="naked")
                each value in item.list
                    li
                        a.white-text.ttu.tdn.fs-13(href=value.link)= value.name