div.minicart
    div.popup__trigger.clearfix
        div.minicart__icon.minicart__icon_active
            +materialIcon('local_grocery_store')(class="gray-text")
            span.minicart__items 1
        div.minicart__inner
            p.minicart__title Корзина покупок:
            p.minicart__count 202 050
    div.minicart__func
        +funcLink('favorite', 'Избранное')
        +funcLink('swap_horiz', 'Сравнение')
    div.minicart__popup.popup__drop
        +dropcart(droplist)

