div.searchTop
    div.searchTop__field
        +materialIcon('search')(class="searchTop__icon")
        input.searchTop__input(type="search", placeholder="Что вы ищите?")
    +autocomplete(autocomplete)