section.seo
    h1.fs-40.ttu.m-per-0.orange-light-1-text ТД Эколак приветствует вас!
    p.
        ТД КолорЛак - это независимое подразделение по исследованию, тестированию, разработке и
        производству огнебиозащитных составов, антисептиков для древесины, средств защиты
        деревянных домов в составе домостроительной ассоциации русских плотников северных
        регионов России "Терем-Дом Секвойя".
    p.
        Ассоциация "Терем-Дом Секвойя" использует исключительно собственные средства и
        силы для строительства домов из дерева, срубы домовсрубов домов и бань
        более 20 лет и принципиально не привлекает сторонние подрядные организации,
        обходясь собственными постоянными бригадами плотников, исключая посредников
        на всех этапах строительства.
    div.seo__box
        h2.fs-30.ttu.m-per-0 бренды с которыми мы работаем
        p.
            Ассоциация "Терем-Дом Секвойя" использует исключительно собственные средства и
            силы для строительства домов из дерева, срубы домовсрубов домов и бань
            более 20 лет и принципиально не привлекает сторонние подрядные организации,
            обходясь собственными постоянными бригадами плотников, исключая посредников
            на всех этапах строительства.
        img(src="images/seo-image.png")
    div.seo__box
        h2.fs-30.ttu.m-per-0 поможем найти конкретный товар
        p.
            ТД КолорЛак - это независимое подразделение по исследованию, тестированию, разработке и
            производству огнебиозащитных составов, антисептиков для древесины, средств защиты
            деревянных домов в составе домостроительной ассоциации русских плотников северных
            регионов России "Терем-Дом Секвойя".