section.sort
    div.sort__box
        span.sort__title Сортировать по:
        ul.sort__list(data-list="horizontal")
            each item in [{icon: "local_offer", text: "Цене"},{icon: "star", text: "Новизне"},{icon: "favorite", text: "Популярности"},{icon: "new_releases", text: "Товары со скидкой"}]
                li.sort__item
                    span.sort__trigger._order
                        +materialIcon(item.icon)
                        span.hidden-md= item.text
    div.sort__box
        span.sort__title По:
        div.showcase__select
            select(class="showcase__select chosen-select" style="width: 100%")
                each item in [1,2,3,4,5]
                    option(value=item)= item
    div.sort__box
        span.sort__title Вид:
        ul.sort__list(data-list="horizontal")
            each item in [{icon: "grid_on"},{icon: "view_agenda"}]
                li.sort__item
                    span.sort__trigger._view
                        +materialIcon(item.icon)