section.step
    - var activeItem = 1
    each item, index in step
        div.step__box(class= (index === activeItem) ? "_active" : (index < activeItem) ? "_full" : "")
            div.clearfix
                h4.step__title
                    span.step__count= index + 1
                    span.step__label= item.title
            div.step__select
                select(class="chosen-select", style="width: 100%", disabled=(index > activeItem))
                    each value in item.options
                        option(value=value)= value
    div.step__box._last
        a(href="#").u-btn._block._full._solid._green.p-ver-10 подобрать состав