section.gray-light-4.p-ver-40
    div.container
        +strippedTitle('Наши новости')(class="gray-light-4 fs-30 ttu")
    section.anons.pt-20
        div.container
            div.row
                each item in news
                    div.fx-md-3
                        section.anons__item
                            div.anons__pic
                                img(src=item.src, alt=item.title)
                                div.anons__date
                                    p.anons__day= item.day
                                    p.anons__month= item.month
                            div.anons__body
                                h4.anons__title= item.title
                                div.anons__text
                                    p= item.text
                                div.anons__more
                                    a(href='#') Подробнее
            div.anons__all
                a(href='#').u-btn._line._solid._green.p-ver-10.p-hor-20 Читать все новости