+sectionBox("images/benefits/bg.jpg")(class="p-ver-40")
    div.container
        h2.white-text.center.ttu.fs-30.m-per-0.mb-20 Наши
            span.orange-light-1-text  преимущества
        div.row
            each val, index in benefits
                - var count = index + 1
                div.fx-md-4
                    div.m-ver-10
                        div.row
                            div.fx-md-3
                                div.center
                                    img(src=val.image)
                            div.fx-md-9
                                h4.m-per-0.mb-15.white-text.ttu= val.title
                                p.white-text= val.text
                if (count % 3 == 0)
                    div.clearfix.hidden-sm.hidden-ms.hidden-xs
