header.checkoutHeader
    div.container.checkoutHeader__flex
        div.checkoutHeader__box.checkoutHeader__box_1
            include ../modules/_logo.pug
        div.checkoutHeader__box.checkoutHeader__box_2
            div.iconBox.mb-10
                div.iconBox__icon
                    +materialIcon('local_phone')(class="fs-16 gray-text")
                div.iconBox__text
                    each item in contacts.phones
                        p.fs-13
                            span.fs-15= item.value
                            span.hidden-md= item.text
            div.iconBox
                div.iconBox__icon
                    +materialIcon('local_post_office')(class="fs-16 gray-text")
                div.iconBox__text
                    p.fs-13
                        a(href="mailto:" + contacts.mail.value)= contacts.mail.value
                        span.hidden-md= contacts.mail.text
        div.checkoutHeader__box.checkoutHeader__box_3
            div.p-ver-10
                p.fs-13.pb-5
                    a(href="#") Заказать обратный звонок
                p.fs-13.pb-5
                    a(href="#") Напишите нам на e-mail
                span.moreCallback Другие способы связаться с нами
        div.checkoutHeader__box.checkoutHeader__box_4
            p.p-ver-20
                a(href="#").u-btn._block._full._blank._orange.p-ver-10 Вернуться в магазин


