+sectionBox("images/consultation/bg-1.jpg")(class="consultation")
    div.container
        div.row
            div.fx-md-7
                h2.ttu.white-text.m-per-0.mb-20.fs-30
                    span Направьте нам вопрос или
                    span.tooltip(data-tooltip-content="#tooltip_content")  звоните
                    span , если сомневаетесь в выборе
                h3.ttu.white-text.m-per-0.fs-20.mb-30 Ответим с 6 до 24 без выходных

                each item in consultation.text
                    div.iconBox.m-ver-10
                        div.iconBox__icon
                            +materialIcon('check')(class="fs-16 orange-text")
                        div.iconBox__text
                            p.white-text.fs-14= item.value
                div.hidden-md.hidden-lg.hidden-ms.hidden-xs.hidden-sm.hidden
                    div#tooltip_content
                        div.iconBox
                            div.iconBox__icon
                                +materialIcon('local_phone')(class="fs-16 gray-dark-3-text")
                            div.iconBox__text
                                each item in contacts.phones
                                    p.fs-13
                                        span.fs-15= item.value
                                        span.hidden-md= item.text
            div.fx-md-5
                div.consultation__form
                    form
                        +materialInputFiled('your_name', 'Ваше имя*')(class="mb-15")
                        +materialInputFiled('your_mail', 'Ваш e-mail*')(class="mb-15")
                        +materialInputFiled('your_phone', 'Ваш телефон*')(class="mb-15")
                        +materialFileField('Прикрепить файл.ipg', 'Загрузить')(btnClass="btn ttu")
                        button.u-btn._block._full._solid._orange._shadow.p-ver-10.mt-20 Отправить заявку