footer.gray-dark-2.white-text.footer
    section.footer__inner.p-ver-30
        div.container
            div.fx-lg-2.fx-md-3.footer__separator
                include ../modules/_logo.pug
                div.m-ver-20
                    img(src='images/youtube.png')
            div.fx-lg-10.fx-md-9
                div.row
                    div.fx-md-6.fx-lg-7
                        div.row
                            div.fx-lg-6
                                include ../modules/_workTime.pug
                                include ../modules/_contacts.pug
                            div.fx-lg-6
                                include ../modules/_paymentFooter.pug
                                include ../modules/_yandexMarket.pug
                    div.fx-md-6.fx-lg-5
                        include ../modules/_footerMenu.pug


    section.footer__inner.p-ver-15.gray-dark-3
        div.container
            div.fx-lg-2.fx-md-3
                span.fs-14.gray-light-1-text= copyright
            div.fx-lg-10.fx-md-9
                div.developBy
                    a(href=developBy.href)
                        span.fs-14.gray-light-1-text.mr-10= developBy.text
                        img(src=developBy.src, alt=developBy.alt)