section.ajaxTabs.p-ver-40
    div.ajaxTabs__header
        div.container
            div.row
                div.fx-md-10
                    a(href="#gallery-1.html").ajaxTabs__link._active Фотогалерея
                    a(href="#gallery-2.html").ajaxTabs__link Видеогалерея
                div.fx-md-2.right-align
                    a(href='#').ajaxTabs__left
                        i(class="material-icons") chevron_left
                    a(href='#').ajaxTabs__right
                        i(class="material-icons") chevron_right
    div.ajaxTabs__body
        div.ajaxTabs__content
            div.ajaxTabs__preloader





