header.headerScroll
    section.p-ver-10
        div.container
            div.row
                div.fx-md-4
                    div.left
                        img.db(src='images/logo-mini.png', alt=pictures.logo.alt)
                    div.pt-5.ml-60
                        include ../modules/_searchTop.pug
                div.fx-md-3
                    button.u-btn._block._full._blank._orange.fs-12.p-ver-10 Заказать обратный звонок
                div.fx-md-3
                    div.iconBox
                        div.iconBox__icon
                            +materialIcon('local_phone')(class="fs-16 gray-text")
                        div.iconBox__text
                            each item in contacts.phones
                                p.fs-13
                                    span.fs-15= item.value
                                    span.hidden-md= item.text
                div.fx-md-2.hidden-sm.hidden-ms.hidden-xs
                    div.headerScroll__func
                        span.headerScroll__icon
                            +materialIcon('favorite')(class="gray-text")
                        span.headerScroll__icon
                            +materialIcon('swap_horiz')(class="gray-text")
                        span.headerScroll__icon.headerScroll__icon_active.popup__trigger
                            +materialIcon('local_grocery_store')(class="gray-text")
                            span.headerScroll__items 1
                        div.headerScroll__popup.popup__drop
                            +dropcart(droplist)


