header.header
    include _top.pug
    section.p-ver-20
        div.container
            div.row
                div.fx-md-2.hidden-sm.hidden-ms.hidden-xs
                    include ../modules/_logo.pug
                div.fx-md-8
                    div.header__flex
                        div.header__box._1
                            include ../modules/_workTime.pug
                            div.hidden-sm.hidden-ms.hidden-xs
                                include ../modules/_searchTop.pug
                        div.header__box._2
                            include ../modules/_contacts.pug
                        div.header__box._3.hidden-sm.hidden-ms.hidden-xs
                            include ../modules/_callback.pug
                    div.hidden-md.hidden-lg.pt-20
                        include ../modules/_searchTop.pug
                div.fx-md-2.hidden-sm.hidden-ms.hidden-xs
                    include ../modules/_minicart.pug


