section.hidden-md.hidden-lg.headerMobile
    section.headerMobile__wrap
        div.headerMobile__box._func
            span.headerMobile__e._trigger
                +materialIcon('menu')
        div.headerMobile__box
            img(src=pictures.logo.src, alt=pictures.logo.alt)
        div.headerMobile__box._func
            span.headerMobile__e
                +materialIcon('local_grocery_store')
