section.hero(style="background-image: url('images/hero-bg-1.jpg')")
    div.container
        div.row
            div.fx-md-8
                h1.hero__title.fs-30 Комплексная защита домов и бань
                h2.hero__title.fs-26 Огне-био-защитные составы премиум класса
                div.pt-10
                    button.hero__btn.u-btn._line._solid._orange._shadow.p-ver-10.p-hor-30.fs-18(data-target=".picker") начать подбор товара