section.navigation.hidden-sm.hidden-ms.hidden-xs.gray-dark-2
    div.container
        div.row
            div.fx-md-6
                ul.navigation__list
                    each value in navigation.categories
                        li.navigation__item._icon
                            a.navigation__link(href=value.href)
                                if (value.icon)
                                    +materialIcon(value.icon)(class="fs-16 navigation__icon")
                                span= value.name
                            if (value.inner)
                                div.navInner
                                    +container
                                        div.p-per-20
                                            +row
                                                div.fx-md-3.navInner__separator
                                                    h4.fs-14.ttu.m-ver-0= value.inner.product.title
                                                    div.pl-20.p-ver-20
                                                        ul(data-list="naked").navInner__list
                                                            each item in value.inner.product.items
                                                                li
                                                                    a(href="#")= item
                                                div.fx-md-3.navInner__separator
                                                    div.pl-20
                                                        h4.fs-14.ttu.m-ver-0= value.inner.kolorlak.title
                                                        div.pl-20.p-ver-20
                                                            ul(data-list="naked").navInner__list
                                                                each item in value.inner.kolorlak.items
                                                                    li
                                                                        a(href="#")= item
                                                        h4.fs-14.ttu.m-ver-0= value.inner.kaysar.title
                                                        div.pl-20.p-ver-20
                                                            ul(data-list="naked").navInner__list
                                                                each item in value.inner.kaysar.items
                                                                    li
                                                                        a(href="#")= item
                                                div.fx-md-3.navInner__separator._solid
                                                    div.pl-20
                                                        h4.fs-14.ttu.m-ver-0= value.inner.nort.title
                                                        div.pl-20.p-ver-20
                                                            ul(data-list="naked").navInner__list
                                                                each item in value.inner.nort.items
                                                                    li
                                                                        a(href="#")= item
                                                        h4.fs-14.ttu.m-ver-0= value.inner.elkon.title
                                                        div.pl-20.p-ver-20
                                                            ul(data-list="naked").navInner__list
                                                                each item in value.inner.elkon.items
                                                                    li
                                                                        a(href="#")= item
                                                div.fx-md-3
                                                    div.pl-20
                                                        +superoffer(superoffer)
                                        div.navInner__foot
                                            a(href="#").u-btn._line._orange._solid.p-ver-10.p-hor-40 подобрать состав

            div.fx-md-6.right-align
                ul.navigation__list
                    each value in navigation.pages
                        li.navigation__item._separator
                            a.navigation__link(href=value.href)
                                span= value.name
                            if (value.inner)
                                div.navInner._pages
                                    div.p-per-20
                                        ul(data-list="naked").navInner__list
                                            each item in value.inner.items
                                                li
                                                    a(href="#")= item

