section.gray-light-4.p-ver-40.picker
    div.container
        +strippedTitle('Подобрать состав')(class="gray-light-4 fs-30 ttu orange-text")
        section.picker__inner
            div.picker__panel
                each item, index in pickerTab
                    div.picker__item(class= index == 0 ? "_active": "",style="background-image: url(" + item.image + ")", data-tab=item.id)
                        span= item.value
            div.picker__container
                each item, index in pickerTab
                    div.picker__wrap(class= index == 0 ? "_active": "", data-container= item.id)
                        div.picker__handler
                            span.picker__e._left
                                +materialIcon('chevron_left')
                            span.picker__e._right
                                +materialIcon('chevron_right')
                            input.picker__input(type="hidden", value="1")
                            input.picker__length(type="hidden", value= item.slides.length)

                        div.picker__slider
                            each value in item.slides
                                div.picker__slide(class= value == 1 ? "_active": "")
                                    div.picker__image
                                        each obj in picker
                                            +pickerDot(obj)
                                        img(src="images/picker/home-1.jpg")

        +step(step, 'line')
        div.hidden-lg.hidden-sm
            a.u-btn._block._full._solid._orange.p-ver-10.mt-20(href="#") Заказать консультацию бесплатно
    a.picker__phone(href="#")
        +materialIcon('local_phone')
        p Заказать консультацию бесплатно


