section.separator
    div.separator__item
        div.separator__header._black
            h4.fs-24 Последние видеообзоры
        div.separator__slider.owl-carousel
            each i in [1,2,3]
                div.separator__slide(style="background-image:url('images/separator/video.jpg')")
                    img(src="images/separator/video.jpg")
        div.separator__body._video
            span.separator__e._play
                +materialIcon('play_circle_outline')
            span.separator__e._left
                +materialIcon('chevron_left')
            span.separator__e._right
                +materialIcon('chevron_right')
    div.separator__item(style="background-image:url('images/separator/feedback.jpg')")
        div.separator__header._orange
            h4.fs-18.
                342 человека получили ответы на вопросы о
                продукции, 7 из них - из новороссийска
        div.separator__body._feedback
            div.owl-carousel.owl-theme
                each item in feedback
                    div
                        h4.fs-18.ttu.m-per-0.center= item.name
                        p.fw-600.center.m-ver-20= item.date
                        p.fs-15= item.text
                        div.right-align.pt-10
                            a(href="#").ttu.tdn Читать ответ

