section.mainGallery.gray-light-4.p-ver-40
    div.mainGallery__header
        div.container
            div.row
                div.fx-md-10
                    a(href="#").mainGallery__link._active Новинки
                    a(href="#").mainGallery__link Товары со скидками
                    a(href="#").mainGallery__link Хиты продаж в июне
                    a(href="#").mainGallery__link Комлексная обработка
                div.fx-md-2.right-align
                    a(href='#').mainGallery__left
                        i(class="material-icons") chevron_left
                    a(href='#').mainGallery__right
                        i(class="material-icons") chevron_right
    div.mainGallery__body
        div.container
            // - Очень важно оставить только класс row, без внутренних колонок fx-*-*
            div.row
                div.mainGallery__slider._active.owl-carousel.owl-theme.showcase
                    each item in showcase
                        +showcaseWrap()
                            +showcaseItem(item)
                div.mainGallery__slider.owl-carousel.owl-theme.showcase
                    each item in showcase
                        +showcaseWrap()
                            +showcaseItem(item)
                div.mainGallery__slider.owl-carousel.owl-theme.showcase
                    each item in showcase
                        +showcaseWrap()
                            +showcaseItem(item)
                div.mainGallery__slider.owl-carousel.owl-theme.showcase
                    each item in showcase
                        +showcaseWrap()
                            +showcaseItem(item)

