section.ajaxTabs.gray-light-4.p-ver-40
    div.ajaxTabs__header
        div.container
            div.row
                div.fx-md-10
                    a(href="#showcase-1.html").ajaxTabs__link._active Новинки
                    a(href="#showcase-2.html").ajaxTabs__link Товары со скидками
                    a(href="#showcase-3.html").ajaxTabs__link Хиты продаж в июне
                    a(href="#showcase-4.html").ajaxTabs__link Комлексная обработка
                div.fx-md-2.right-align
                    a(href='#').ajaxTabs__left
                        i(class="material-icons") chevron_left
                    a(href='#').ajaxTabs__right
                        i(class="material-icons") chevron_right
    div.ajaxTabs__body
        div.container
            // - Очень важно оставить только класс row, без внутренних колонок fx-*-*
            div.row
                div.ajaxTabs__content
                    div.ajaxTabs__preloader




