div.container.hidden-sm.hidden-ms.hidden-xs
    section.top.p-ver-5
        div.row
            div.fx-md-6.left-align
                include ../modules/_siteContentPages.pug
            div.fx-md-6.right-align
                include ../modules/_loginLink.pug