@each $name, $color in $myColors {
    .#{$name} {
        background-color: $color;
    }
    .#{$name}-text {
        color: $color;
    }
    .#{$name}-bdb{
        border-bottom: 1px solid $color;
    }
    .#{$name}-bdt{
        border-top: 1px solid $color;
    }
}