ol, ul {
    &[data-list="horizontal"] {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            vertical-align: middle;
        }
    }
    &[data-list="naked"] {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.unordered{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        position: relative;
        padding-left: 15px;
        &:before{
            content: '';
            width: 6px;
            height: 6px;
            background-color: getColor(orange);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -3px;
            left: 0;
        }
    }
}