.td-lt{
    text-decoration: line-through;
}

.tdu{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
.ttu{
    text-transform: uppercase;
}

.tdn{
	text-decoration: none;
}