//============= Paddings =============

@each $count in $padding-count{
    .pt-#{$count}{
        padding-top: $count * 1px;
    }
    .pb-#{$count}{
        padding-bottom: $count * 1px;
    }
    .pl-#{$count}{
        padding-left: $count * 1px;
    }
    .pr-#{$count}{
        padding-right: $count * 1px;
    }
    .p-per-#{$count}{
        padding: $count * 1px;
    }
    .p-ver-#{$count}{
        padding-top: $count * 1px;
        padding-bottom: $count * 1px;
    }
    .p-hor-#{$count}{
        padding-left: $count * 1px;
        padding-right: $count * 1px;
    }
}

// ============= Margins =============
@each $count in $margin-count{
    .mt-#{$count}{
        margin-top: $count * 1px;
    }
    .mb-#{$count}{
        margin-bottom: $count * 1px;
    }
    .ml-#{$count}{
        margin-left: $count * 1px;
    }
    .mr-#{$count}{
        margin-right: $count * 1px;
    }
    .m-per-#{$count}{
        margin: $count * 1px;
    }
    .m-ver-#{$count}{
        margin-top: $count * 1px;
        margin-bottom: $count * 1px;
    }
    .m-hor-#{$count}{
        margin-left: $count * 1px;
        margin-right: $count * 1px;
    }
}

// ============= Font Sizes =============
@each $count in $font-size-count{
    .fs-#{$count}{
        font-size: $count * 1px;
    }
}

// ============== Font Weight ===========

@each $count in $font-weight-count{
    .fw-#{$count}{
        font-weight: $count;
    }
}

.hide {
    display: none !important;
}


// Text Align
.left-align {
    text-align: left;
}
.right-align {
    text-align: right
}
.center, .center-align {
    text-align: center;
}

.left {
    float: left !important;
}
.right {
    float: right !important;
}

@each $key, $level in $mas {
    @if ($key != lg) {
        @media screen and (max-width: $level) {
            @include responsive-padding($key);
            @include responsive-margin($key);
            @include responsive-align($key);
            @include responsive-float($key);
            @include responsive-float-clear($key);
            @include responsive-font-size($key);
        }
    } @else {
        @media screen and (min-width: $level) {
            @include responsive-padding($key);
            @include responsive-margin($key);
            @include responsive-align($key);
            @include responsive-float($key);
            @include responsive-float-clear($key);
            @include responsive-font-size($key);
        }
    }
}


// No Text Select
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circle {
    border-radius: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-padding {
    padding: 0 !important;
}