extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    +breadcrumbs([
        {
            "type": "parent",
            "link": "index.html",
            "text": "Главная"
        },
        {
            "text": "Где купить?"
        }
    ])(class="gray-light-4")
    +container
        +row
            div.fx-md-12
                h1.fs-30.ttu.mt-40.mb-20 Наши представительства
    +tabsHead(agencyMap)(class="_standart", type="_full")
    each item in agencyMap
        div(id= item.id)
            div.pt-40.pb-30
                if (item.text)
                    p= item.text
                if (item.image)
                    img(src=item.image)
            div.gray-light-4.p-ver-50
                div.agency
                    +container
                        +row
                            each value in item.address
                                div.fx-md-4
                                    div.box.white
                                        div.p-per-20
                                            h3.fs-20.ttu.m-ver-0= value.title
                                            div.p-ver-20
                                                p= value.text
                                            each field in value.list
                                                div.iconBox.mb-10
                                                    span.iconBox__icon
                                                        +materialIcon(field.icon)(class="orange-light-1-text")
                                                    div.iconBox__text
                                                        p.pl-20= field.text
                                        div.agency__foot.p-per-20
                                            a(href="#").agency__link
                                                +materialIcon('map').dib.vam.mr-10
                                                span.dib.vam Показать на карте