extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    +breadcrumbs([
        {
            "type": "parent",
            "link": "index.html",
            "text": "Главная"
        },
        {
            "text": "Карточка товара"
        }
    ])(class="gray-light-4")
    section.card
        section.p-ver-40
            +container
                +row
                    div.fx-md-3
                        div.card__slider
                            div.card__pic.mb-20
                                each item in cardPic.big
                                    div
                                        img(src=item)
                            div.cardThumb
                                span.cardThumb__e._left
                                    +materialIcon('chevron_left')
                                div.cardThumb__slider
                                    each item in cardPic.thumb
                                        div
                                            img(src=item)
                                span.cardThumb__e._right
                                    +materialIcon('chevron_right')
                    div.fx-md-9
                        h1.fs-30.orange-light-1-text.ttu.mt-0 МАСЛОВОСК Анта VoskOil. Премиум антисептик для древесины
                        +row
                            div.fx-md-7
                                p.card__price.fs-30.fw-600.mb-20 12 990
                                +row
                                    div.fx-md-5
                                        p.card__avail._true Есть в наличии
                                        p.mt-10
                                            +funcLink('swap_horiz', 'Сравнение')
                                        p.mt-10
                                            +funcLink('favorite', 'Добавить в избранное')
                                    div.fx-md-7
                                        div.card__calc
                                            a(href="#")
                                                span.fs-13.dib.vam Посчитать объем
                                                +materialIcon('dialpad')(class="dib vam ml-10 fs-20")
                                        div.p-ver-20
                                            div.showcase__field
                                                span.showcase__label Выбрать тару:
                                                div.showcase__select
                                                    select(class="showcase__select chosen-select" style="width: 100%")
                                                        each item in [1,2,3,4,5]
                                                            option(value=item)= item
                                            div.showcase__field
                                                span.showcase__label Количество:
                                                div.showcase__input
                                                    +spinner()
                                        button.u-btn._block._full._solid._green.p-ver-10(href="#") В корзину
                                        div.center.pt-10
                                            span.showcase__fast
                                                +materialIcon('mouse')
                                                span Купить в 1 клик
                            div.fx-md-5
                                h3.fs-24.ttu.gray-light-1-text.m-per-0 Где купить?
                                div.pt-20.pb-10
                                    +iconBox('local_phone', {
                                        "span": "Консультация технолога + 7 983 233 32 12"
                                    })(boxClass="p-ver-5", iconClass="fs-20 gray-light-1-text mr-10")
                                    +iconBox('local_phone', {
                                        "span": "Отдел продаж + 7 983 233 32 12"
                                    })(boxClass="p-ver-5", iconClass="fs-20 gray-light-1-text mr-10")
                                    +iconBox('local_shipping', {
                                        "span": "Бесплатная доставка от 5 л."
                                    })(boxClass="p-ver-5", iconClass="fs-20 gray-light-1-text mr-10")
                                    +iconBox('person', {
                                        "a": "Представительства в Москве"
                                    })(boxClass="p-ver-5", iconClass="fs-20 gray-light-1-text mr-10")
                                div.card__share.p-ver-10
                                    span Поделиться:
    section.pt-40.gray-light-4
        +container
            +row
                div.fx-md-12
                    +tabsHead(cardDescr)(class="_material")
    section.white
        +container
            +row
                div.fx-md-12
                    div.p-ver-40
                        +tabsBody(cardDescr)
    section.mainGallery.gray-light-4.p-ver-40
        div.mainGallery__header
            div.container
                div.row
                    div.fx-md-10
                        h2.mainGallery__title.fs-30.ttu.m-per-0.orange-light-1-text сопутствующие товары
                    div.fx-md-2.right-align
                        a(href='#').mainGallery__left
                            i(class="material-icons") chevron_left
                        a(href='#').mainGallery__right
                            i(class="material-icons") chevron_right
        div.mainGallery__body
            div.container
                // - Очень важно оставить только класс row, без внутренних колонок fx-*-*
                div.row
                    div.mainGallery__slider._active.owl-carousel.owl-theme.showcase
                        each item in showcase[0]
                            +showcaseWrap()
                                +showcaseItem(item)
    include sections/_consultation.pug
    section.p-ver-40
        +container
            +row
                div.fx-md-6
                    section.ajaxTabs.p-ver-40
                        div.ajaxTabs__header
                            div.row
                                div.fx-md-10
                                    a(href="#gallery-1.html").ajaxTabs__link._active Фотогалерея
                                    a(href="#gallery-2.html").ajaxTabs__link Видеогалерея
                                div.fx-md-2.right-align
                                    a(href='#').ajaxTabs__left
                                        i(class="material-icons") chevron_left
                                    a(href='#').ajaxTabs__right
                                        i(class="material-icons") chevron_right
                        div.ajaxTabs__body
                            div.ajaxTabs__content
                                div.ajaxTabs__preloader
                div.fx-md-6
                    h3.ttu.fs-30.mt-0.mb-10 Отзывы
                    +feedback-wrap-row()
                        section.owl-carousel.owl-theme
                            each item in cardFeedback
                                div
                                    each box in item
                                        div.p-ver-20
                                            +feedback-item(box)
                    div.pt-10.right-align
                        a(href="#").ttu Оставить отзыв
    section.gray-light-4.pt-40
        +container
            +row
                div.fx-md-12
                    include modules/_bannerTop.pug
        section.mainGallery.gray-light-4.pb-40
            div.mainGallery__header
                div.container
                    div.row
                        div.fx-md-10
                            h2.mainGallery__title.fs-30.ttu.m-per-0.orange-light-1-text просмотренные товары
                        div.fx-md-2.right-align
                            a(href='#').mainGallery__left
                                i(class="material-icons") chevron_left
                            a(href='#').mainGallery__right
                                i(class="material-icons") chevron_right
            div.mainGallery__body
                div.container
                    // - Очень важно оставить только класс row, без внутренних колонок fx-*-*
                    div.row
                        div.mainGallery__slider._active.owl-carousel.owl-theme.showcase
                            each item in showcase[0]
                                +showcaseWrap()
                                    +showcaseItem(item)

