extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    +breadcrumbs-cart([
        {
            "type": "parent",
            "link": "index.html",
            "text": "Главная"
        },
        {
            "text": "Корзина"
        }
    ])(class="gray-light-4")
    div.p-ver-40
        +container
            +row
                div.fx-md-9
                    h1.fs-30.ttu.m-ver-0.orange-light-1-text Ваша корзина
                div.fx-md-3
                    a(href="#").u-btn._block._full._solid._green.p-ver-10 Начать оформление заказа
            div.p-ver-20
                +cartTable(cartTable)
            div.pb-40
                +row
                    div.fx-md-6
                        div.promocode
                            form.mb-10
                                +row
                                    div.fx-md-8
                                        +materialInputFiled('promocode', 'Введите промокод')
                                    div.fx-md-4
                                        button.u-btn._block._full._blank._green.p-ver-5 Проверить
                            p
                                a(href="#") Авторизуйтесь
                                span , чтобы получить бонус на карту и активизировать скидку
                    div.fx-md-6
                        div.right-align
                            p.ttu.orange-light-1-text.fw-600 Общая экономия: 23 900 руб.
                            p.ttu.fs-20.fw-600 Итого: 23 900 руб.
        div.cartProgress.p-ver-40
            +container
                +row
                    div.fx-md-5
                        h3.ttu.fs-20.m-ver-0 До бесплатной доставки осталось:
                    div.fx-md-7
                        +progress('orange', '70', '0 руб.', '5 000 руб.')
        +container
            div.pt-40
                +row
                    div.fx-md-12.right-align
                        a(href="#")
                            +materialIcon('mouse')(class="fs-20 dib vam")
                            span.dib.vam.fw-600.ttu.ml-10 Купить в 1 клик
                        a(href="#").u-btn._line._solid._green.p-ver-10.p-hor-25.ml-20 Начать оформление заказа

