extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    +breadcrumbs([
        {
            "type": "parent",
            "link": "index.html",
            "text": "Главная"
        },
        {
            "text": "Каталог"
        }
    ])(class="gray-light-4")
    div.gray-light-4
        +container
            +row
                div.fx-md-12
                    include modules/_bannerTop.pug
            +row
                div.fx-md-4.fx-lg-3
                    h3.fs-24.mt-5.mb-30.ttu.m-ver-0 подбор товара
                    +box()(class="p-per-20 white")
                        +step(assortiment, 'vertical')
                        div.pt-40
                            +row
                                div.fx-md-6
                                    button.u-btn._block._full._solid._green.p-ver-10 Применить
                                div.fx-md-6
                                    button.u-btn._block._full._blank._green.p-ver-10 Сбросить
                div.fx-md-8.fx-lg-9
                    h3.fs-30.ttu.m-ver-0.orange-light-1-text каталог продукции компании эколак
                    include modules/_sort.pug
                    +row
                        each item in showcase[0]
                            div.fx-sm-6.fx-md-6.fx-lg-4
                                div.m-ver-10
                                    +showcaseItem(item)
                        each item in showcase[0]
                            div.fx-sm-6.fx-md-6.fx-lg-4
                                div.m-ver-10
                                    +showcaseItem(item)
                        each item in showcase[0]
                            div.fx-sm-6.fx-md-6.fx-lg-4
                                div.m-ver-10
                                    +showcaseItem(item)
                    div.p-ver-40
                        +row
                            div.fx-md-6
                                +pagination([1,2,3,4])
                            div.fx-md-6.right-align
                                a(href="#").u-btn._solid._line._orange.p-ver-10.p-hor-20 Показать еще
    include sections/_consultation.pug
    section.p-ver-40
        div.container
            div.row
                div.fx-md-12
                    section.seo
                        h1.fs-40.ttu.m-per-0.mb-20= catalogSeo.title
                        img(src="images/catalog-seo.jpg", style="float:left; margin: 0 20px 10px 0;")
                        p= catalogSeo.text
    section.pt-40.pb-20.gray-light-4
        div.container
            div.row
                div.fx-md-4.fx-lg-3
                    +box()(class="p-per-20 white")
                        include modules/_councilMenu.pug
                div.fx-md-8.fx-lg-9
                    h1.fs-40.ttu.m-per-0.orange-light-1-text инструкции и статьи связанные с товаром масловоск лидер
                    div.p-ver-10
                        div.instruction.row
                            each item in instructions
                                div.fx-md-6.fx-lg-4.instruction__box.m-ver-10
                                    +instruction(item)
                    div.center.pt-20
                        a(href="#").u-btn._solid._line._green.p-ver-10.p-hor-20 смотреть все по данному разделу
    section.mainGallery.gray-light-4.p-ver-40
        div.mainGallery__header
            div.container
                div.row
                    div.fx-md-10
                        h2.mainGallery__title.fs-30.ttu.m-per-0.orange-light-1-text просмотренные товары
                    div.fx-md-2.right-align
                        a(href='#').mainGallery__left
                            i(class="material-icons") chevron_left
                        a(href='#').mainGallery__right
                            i(class="material-icons") chevron_right
        div.mainGallery__body
            div.container
                // - Очень важно оставить только класс row, без внутренних колонок fx-*-*
                div.row
                    div.mainGallery__slider._active.owl-carousel.owl-theme.showcase
                        each item in showcase[0]
                            +showcaseWrap()
                                +showcaseItem(item)
