extends  layouts/checkout.pug
block title
    title Оформление заказа - Шаг 1
block step
    +checkoutHead('3')
block content
    section.white.gray-light-4-bdb.p-ver-40
        +container
            +row
                div.fx-md-9
                    +checkoutTable(checkoutTable)
                div.fx-md-3
                    div.checkoutInfo.pl-20
                        div.p-ver-10.gray-light-1-text
                            p Стоимость товаров без скидки:
                            p.fw-600 4 565 руб.
                        div.p-ver-10.gray-light-1-text
                            p Стоимость товаров без скидки:
                            p.fw-600 4 565 руб.
                        div.p-ver-10.gray-light-1-text
                            p Стоимость товаров без скидки:
                            p.fw-600 4 565 руб.
                        div.p-ver-10.gray-light-1-text
                            p Стоимость товаров без скидки:
                            p.fw-600 4 565 руб.
                        div.p-ver-10
                            p.ttu.orange-light-1-text Стоимость товаров без скидки:
                            p.fw-600.fs-20 4 565 руб.
    section.white.gray-light-4-bdt.p-ver-40
        +container
            +row
                div.fx-md-6
                    div.u-checkbox._block
                        input(type='checkbox', id="sms").u-checkbox__input
                        label(for="sms").u-checkbox__label.fw-600.
                            Часть прибыли наша компания переводит на помощь детям сиротам и
                            на восстановление русских православных храмов. Хотите помочь?
                    div.pl-30
                        div.pt-40
                            h4.fs-14.ttu.m-ver-0.mb-10 способ помощи
                            div.p-ver-5
                                div.u-radio
                                    input.u-radio__input(type="radio", name="address", id="process-1")
                                    label.u-radio__label(for="process-1") Всю мою скидку с заказа перечислить на благотворительность
                            div.p-ver-5
                                div.u-radio
                                    input.u-radio__input(type="radio", name="address", id="process-2")
                                    label.u-radio__label(for="process-2") На доброе дело
                        div.pt-40
                            h4.fs-14.ttu.m-ver-0.mb-10 способ помощи
                            div.p-ver-5
                                div.u-radio
                                    input.u-radio__input(type="radio", name="donate", id="process-3")
                                    label.u-radio__label(for="process-3") Всю мою скидку с заказа перечислить на благотворительность
                            div.p-ver-5
                                div.u-radio
                                    input.u-radio__input(type="radio", name="donate", id="process-4")
                                    label.u-radio__label(for="process-4") На доброе дело
                        div.pt-20
                            p.gray-light-1-text * на вашу электронную почту придет письмо с отчетом, как были использованы ваши средства
                div.fx-md-6
                    h3.orange-light-1-text.fs-18.ttu.m-ver-0.mb-20 Комментарий к заказу:
                    div.material-input-field.mb-5
                        textarea(id="textarea1", class="materialize-textarea")
                        label(for="textarea1") Ваш комментарий
                    p.fs-12.gray-light-1-text Здесь вы можете оставить информацию об удобном времени для доставки, дополнительные данные об оплате и прочее
                    div.pt-10
                        div.u-checkbox._block
                            input(type='checkbox', id="info").u-checkbox__input
                            label(for="info").u-checkbox__label.fs-12.
                                Соглашаюсь получать информацию о новых предложениях и акциях
    section.gray-light-4.p-ver-40
        +container
            +row
                each item in checkoutResult
                    div.fx-md-3
                        section.box.white
                            header.p-ver-20.p-hor-25.gray-light-4-bdb
                                h4.fs-20.ttu.m-ver-0.orange-light-1-text= item.title
                            section.p-ver-20.p-hor-25
                                ul(data-list="naked")
                                    each value in item.list
                                        li.p-ver-5= value
            +row
                div.fx-md-4.fx-md-offset-4
                    a(href="#").u-btn._block._full._green._solid.p-ver-10.mt-40 Оформить заказ

