extends  layouts/checkout.pug
block title
    title Оформление заказа - Шаг 1
block step
    +checkoutHead('1')

block content
    +container
        +row
            div.fx-md-5
                +tabsHead(checkAddress)(class="_material")
    section.p-ver-40.white
        +container
            +row
                div.fx-md-8.fx-lg-9
                    div#checkAddress-1
                        +row
                            div.fx-md-12
                                form.checkoutForm
                                    +row
                                        div.fx-md-6
                                            div.clearfix.p-ver-10
                                                div.left.pt-5
                                                    +materialIcon('person')(class="orange-light-1-text")
                                                div.ml-40
                                                    +materialInputFiled('checkout-name', 'Ваше имя*')(class="mb-5")
                                                    p.fs-12.gray-light-1-text Чтобы мы знали, как в Вам обращаться
                                            div.clearfix.p-ver-10
                                                div.left.pt-5
                                                    +materialIcon('local_phone')(class="orange-light-1-text")
                                                div.ml-40
                                                    +materialInputFiled('checkout-phone', 'Телефон*')(class="mb-5")
                                                    p.fs-12.gray-light-1-text Пришлем подробности по заказу о доставке
                                        div.fx-md-6
                                            div.clearfix.p-ver-10
                                                div.left.pt-5
                                                    +materialIcon('local_post_office')(class="orange-light-1-text")
                                                div.ml-40
                                                    +materialInputFiled('checkout-mail', 'E-mail*')(class="mb-5")
                                                    p.fs-12.gray-light-1-text Пришлем подробности по заказу и доставке
                                                    div.p-ver-10
                                                        div.u-checkbox._block
                                                            input(type='checkbox', id="sms").u-checkbox__input
                                                            label(for="sms").u-checkbox__label.fs-12.
                                                                Присылать смс уведомления с 9 утра до 20 вечера о
                                                                состоянии заказа
                        div.pl-40
                            div.p-ver-30
                                p.fw-600 Или заполните их при помощи профиля одной из социальной сети:
                            a(href="#").u-btn._line._solid._green.p-ver-10.p-hor-25 перейти к вводу данных о доставке
                    div#checkAddress-2
                        +row
                            div.fx-md-12
                                +row
                                    div.fx-md-7
                                        div.p-ver-10
                                            +materialInputFiled('mail', 'Ваш e-mail')
                                        div.p-ver-10
                                            +materialInputFiled('password', 'Ваш пароль')
                                        div.right-align
                                            a(href="#").fs-12 Забыли пароль
                                        a(href="#").u-btn._block._full._solid._green.p-ver-10.p-hor-10.mt-40 перейти к вводу данных о доставке
                                    div.fx-md-5
                                        p.fw-600 Или заполните их при помощи профиля одной из социальной сети:
                div.fx-md-4.fx-lg-3
                    section.checkoutInfo.pl-20
                        header.clearfix
                            div.checkoutInfo__icon.orange-text.left
                                +materialIcon('feedback')(class="fs-52")
                            h3.ttu.fs-18.m-ver-0.ml-60 Информация о неразглашении
                        p.fs-12.
                            Мы сохраняем конфеденциальность полученной от
                            клиентов информации, не разглашаем третьим лицам,
                            в том числе другим клиентам, а так же не
                            используем полученную информацию для извлечения
                            собственной выгоды и выгоды третьих лиц.
