extends  layouts/checkout.pug
block title
    title Оформление заказа - Шаг 1
block step
    +checkoutHead('2')
block content
    section.p-ver-40.white
        +container
            div.p-ver-20
                +row
                    div.fx-md-6
                        h2.orange-light-1-text.fs-20.ttu Выбрать адрес из ранее зарегистрированных
                        each item, index in checkAddressList
                            div.p-ver-5
                                div.u-radio
                                    input.u-radio__input(type="radio", name="address", id="address-" + index)
                                    label.u-radio__label(for="address-" + index)= item.value
                    div.fx-md-6
                        h2.fs-20.ttu Указать новый адрес
                        div.p-ver-10
                            +row
                                div.fx-md-6
                                    div.step__select
                                        select(class="chosen-select", style="width: 100%")
                                            option(value="Выберите область") Выберите область
                                            option(value="Краснодарский край") Краснодарский край
                                            option(value="Москва") Москва
                                            option(value="Санкт-Петербург") Санкт-Петербург
                                div.fx-md-6
                                    div.step__select
                                        select(class="chosen-select", style="width: 100%")
                                            option(value="Выберите область") Выберите область
                                            option(value="Краснодарский край") Краснодарский край
                                            option(value="Москва") Москва
                                            option(value="Санкт-Петербург") Санкт-Петербург
                        div.p-ver-10
                            +row
                                div.fx-md-6
                                    +materialInputFiled('street', 'Улица')
                                div.fx-md-2
                                    +materialInputFiled('house', 'Дом')
                                div.fx-md-2
                                    +materialInputFiled('flat', 'Квартира')
                        div.p-ver-10
                            +row
                                div.fx-md-2
                                    +materialInputFiled('house', 'Дом')
                                div.fx-md-2
                                    +materialInputFiled('flat', 'Квартира')
            div.p-ver-20
                +row
                    div.fx-md-6
                        h2.orange-light-1-text.fs-24.ttu Выберите способ доставки
                        each item, index in checkAddressList
                            div.p-ver-5
                                div.u-radio
                                    input.u-radio__input(type="radio", name="address", id="address-" + index)
                                    label.u-radio__label(for="address-" + index)= item.value
                    div.fx-md-6
                        h2.fs-24.ttu Доставка грузоперевозчиком
                        div.p-ver-10
                            div.step__select
                                select(class="chosen-select", style="width: 100%")
                                    option(value="Выберите область") Выберите область
                                    option(value="Краснодарский край") Краснодарский край
                                    option(value="Москва") Москва
                                    option(value="Санкт-Петербург") Санкт-Петербург
                        div.p-ver-10
                            div.step__select
                                select(class="chosen-select", style="width: 100%")
                                    option(value="Выберите область") Выберите область
                                    option(value="Краснодарский край") Краснодарский край
                                    option(value="Москва") Москва
                                    option(value="Санкт-Петербург") Санкт-Петербург
            div.p-ver-20
                +row
                    div.fx-md-6
                        h2.orange-light-1-text.fs-24.ttu Выберите способ оплаты
                        each item, index in checkAddressList
                            div.p-ver-5
                                div.u-radio
                                    input.u-radio__input(type="radio", name="address", id="address-" + index)
                                    label.u-radio__label(for="address-" + index)= item.value
                    div.fx-md-6
                        div.p-ver-10
                            +materialFileField('Прикрепить файл с реквизитами', 'Загрузить')(btnClass="btn ttu u-btn _blank _green")
                        div.p-ver-10
                            div.row
                                div.fx-md-6
                                    div.p-ver-10
                                        +materialInputFiled('inn','ИНН')
                                div.fx-md-6
                                    div.p-ver-10
                                        +materialInputFiled('kpp','КПП')
                                div.fx-md-6
                                    div.p-ver-10
                                        +materialInputFiled('namecompany','Название компании')
                                div.fx-md-6
                                    div.p-ver-10
                                        +materialInputFiled('address','Адрес')

            +row
                div.fx-md-4.fx-md-offset-4
                    a(href="#").u-btn._block._full._solid._green.p-ver-10.mt-40 Подтвердить