extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    +breadcrumbs([
        {
            "type": "parent",
            "link": "index.html",
            "text": "Главная"
        },
        {
            "type": "parent",
            "link": "index.html",
            "text": "Новости"
        },
        {
            "text": "Чем обработать сруб зимой при минусовой температуре -25С"
        }
    ])
    +container
        +row
            div.fx-md-3
                include modules/_councilMenu.pug
                div.pt-40
                    h3.fs-30.ttu.m-ver-0.mb-20 Метки
                    +tags(tags)
                div.p-ver-20
                    h3.fs-24.mt-5.mb-30.ttu.m-ver-0.orange-light-1-text выбрать категорию товаров на 3d модели
                    img.db(src="images/goPicker.jpg")
                    a(href="#").u-btn._solid._orange._block._full.p-ver-10 Начать подбор товара
            div.fx-md-9
                section.contentPage
                    h1.fs-30.ttu.orange-light-1-text.m-ver-0 чем обработать сруб зимой при минусовой температуре - 25С
                    div.p-ver-20.mb-40.contentPage__date
                        span.fs-12 15 сентября 2016
                    div.clearfix
                        img(src="images/catalog-seo.jpg", style="float: left; margin-right: 20px")
                        p.
                            ТД КолорЛак представляет Масловоск Анта официальный сайт качественных
                            натуральных масляно восковых пропиток с новыми возможностями по старым рецептам.
                            Антисептик для древесины широкого спектра действия Масловоск - биозащитная пропитка
                            антисептик для древесины с высоким антисептическим и влагозащитным эффектом.
                        p.
                            Состав для биозащиты древесины Масловоск Анта VoskOil линейки "Eco Natur"
                            применяется для наружных работ и для внутренних работ, для защиты деревянных
                            поверхностей домов и бань. Масловоск Анта - общее название линейки Масловоск
                            для розничной реализации. Масловоск VoskOil - промышленное название Масловоск
                            Анта, Масловоск Анта VoskOil - общее название линейки брэнда Масловоск. Масловоск
                            Анта VoskOil линейка "Eco Natur"- общее название АБСОЛЮТНО НАТУРАЛЬНОЙ линейки брэнда
                            Масловоск. Состав для биозащиты древесины Масловоск Анта VoskOil линейки "Eco Natur"
                            применяется для наружных работ и для внутренних работ, для защиты деревянных
                            поверхностей домов и бань. Масловоск Анта - общее название линейки Масловоск
                            для розничной реализации. Масловоск VoskOil - промышленное название Масловоск Анта,
                            Масловоск Анта VoskOil - общее название линейки брэнда Масловоск. ВСЕ Масловоски
                            любой модификации в линейке "Eco Natur" НЕ СОДЕРЖАТ искусственных химических
                            компонентов и добавок, включая сиккатив, искусственные загустители и улучшители.
                        p.
                            Масловоск Анта VoskOil линейка "NEXT"- общее название линейки брэнда Масловоск
                            имеющий ускоренный период полимеризации и требующих быстрого времени высыхания
                            для начала практической эксплуатации обработанной им поверхности. Общее название
                            линейки брэнда Масловоск. ВСЕ Масловоски любой модификации в линейке "Eco Natur"
                            НЕ СОДЕРЖАТ искусственных химических компонентов и добавок, включая сиккатив.
                div.pt-20.pb-40
                    +row
                        div.fx-md-6
                            +tags(contentTags)
                        div.fx-md-6.right-align
                            //span Поделиться:
                +strippedTitle-left('Комментарии')(class="white pr-20 fs-30 ttu")
                +feedback-wrap-row()
                    each item in cardFeedback
                        div.p-ver-20
                            +feedback-item(item)
                div.pt-20.right-align
                    a(href="#").u-btn._line._solid._green.p-ver-10.p-hor-25 Еще 14 комментариев
                div.p-ver-40
                    h3.fs-24.ttu.m-ver-0.mb-30 оставить комментарий или задать вопрос
                    +feedForm()
