extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    +breadcrumbs([
        {
            "type": "parent",
            "link": "index.html",
            "text": "Главная"
        },
        {
            "text": "Отзывы"
        }
    ])(class="gray-light-4")
    div.gray-light-4
        +container
            +row
                div.fx-md-12
                    div.pb-40
                        +strippedTitle('Отзывы')(class="gray-light-4 p-hor-20 fs-30 ttu")
            +row
                div.fx-md-9
                    div.p-ver-10
                        span.fw-600.ttu Показать:
                        a(href="#").m-hor-10 Сначала новые
                        a(href="#").m-hor-10 Сначала старые
                div.fx-md-3
                    a(href="#").u-btn._block._full._solid._green.p-ver-10.p-hor-20 Оставить отзыв
            div.pt-30
                +feedback-wrap-col()(class="row", id="fullFeedback")
                    each item in fullFeedback
                        div.fx-md-3.m-ver-10
                            div.p-per-20.box.white
                                +feedback-item(item)
                                    +feedback-link()
            div.p-ver-40
                +row
                    div.fx-md-6
                        +pagination([1,2,3,4])
                    div.fx-md-6.right-align
                        a(href="#").u-btn._solid._line._orange.p-ver-10.p-hor-20 Показать еще
    div.p-ver-40
        +container
            +row
                div.fx-md-10.fx-md-offset-1.fx-lg-8.fx-lg-offset-2
                    h3.fs-24.ttu.m-ver-0.mb-30 Оставить отзыв
                    +feedForm()
