div.ajaxTabs__slider._active.owl-carousel.owl-theme.gallery(data-margin="5")
    each item in gallery
        div.gallery__item
            img(src=item.image)
            div.gallery__anchor
                span.gallery__icon._left
                    i.material-icons search
                a(href="#").gallery__icon._right
                    i.material-icons link
            div.gallery__inner
                h4.gallery__title= item.title
                p.gallery__text= item.text