extends  layouts/main.pug

block title
    title Эколак - Главная
block content
    include sections/_hero.pug
    include sections/_partPicker.pug
    include sections/_benefits.pug
    section.pt-40.pb-20
        div.container
            div.row
                div.fx-md-4.fx-lg-3
                    include modules/_councilMenu.pug
                div.fx-md-8.fx-lg-9
                    include modules/_seoText.pug
    include sections/_showcase-ajax.pug
    include sections/_separator.pug
    include sections/_anons.pug
    include sections/_consultation.pug
    include sections/_gallery.pug
