extends layouts/private.pug
block title
    title Личный кабинет - Мои заказы
block content
    +row
        div.fx-md-8
            h1.ttu.fs-30.m-per-0.mb-20.orange-light-1-text заказ № 2525
        div.fx-md-4.right-align
            a(href="#") Вернуться ко всем заказам
    div.p-ver-10
        table.private__table
            thead
                tr
                    th ID товара
                    th Наименование
                    th Цена
                    th Скидка %
                    th Акция %
                    th Баллов за покупку
                    th Кол-во
            tbody
                tr
                    td 12356489
                    td.green-text Гидрофобизатор. Элкон для бетона
                    td 2 000 руб.
                    td 1
                    td 1
                    td 12
                    td 1
                tr
                    td 12356489
                    td.green-text Гидрофобизатор. Элкон для бетона
                    td 2 000 руб.
                    td 1
                    td 1
                    td 12
                    td 1
                tr
                    td 12356489
                    td.green-text Гидрофобизатор. Элкон для бетона
                    td 2 000 руб.
                    td 1
                    td 1
                    td 12
                    td 1
    div.p-ver-10
        table.private__table
            thead
                tr
                    th подарок
                    th Наименование
                    th Кол-во
            tbody
                tr
                    td 12356489
                    td.green-text Гидрофобизатор. Элкон для бетона
                    td 1
    div.p-ver-40
        +row
            div.fx-md-6
                h3.fs-20.ttu.orange-light-1-text.m-ver-0.mb-20 ИНФОРМАЦИЯ ОБ ОПЛАТЕ
                p Способ оплаты: карта
                p Оплачено: 12 235 руб.
            div.fx-md-6
                h3.fs-20.ttu.orange-light-1-text.m-ver-0.mb-20 ИНФОРМАЦИЯ ОБ ОПЛАТЕ
                p Способ оплаты: карта
                p Оплачено: 12 235 руб.
        div.right-align.mt-20
            a(href="#") Вернуться ко всем заказам