extends layouts/private.pug
block title
    title Личный кабинет - Мои заказы
block content
    h1.ttu.fs-30.m-ver-0.orange-light-1-text.mb-20 Обратная связь с директором

    +row
        div.fx-md-5
            div.clearfix
                div.left.mr-20
                    img(src="images/private-feed.png")
                p Здесь вы можете написать обращение на прямую директору нашей конторы. Он рассмотрит каждое ваше обращение и ответит Вам в течение 48 часов.
            div.pt-10.pb-30
                div.p-ver-5
                    +materialInputFiled('name', 'Ваше имя')
                div.p-ver-5
                    +materialInputFiled('name1', 'Ваше имя')
                div.p-ver-5
                    +materialInputFiled('name2', 'Ваше имя')
            a(href="#").u-btn._block._full._green._solid.p-ver-10 Отправить
        div.fx-md-7
            img(src="images/private-video.jpg")