extends layouts/private.pug
block title
    title Личный кабинет - Мои заказы
block content
    +row
        div.fx-md-6
            h1.ttu.fs-30.m-per-0.mb-20 МОИ ДАННЫЕ
            div.p-ver-5
                +materialInputFiled('name', 'Ваше имя')(class="mb-5")
                p.fs-12.gray-light-1-text Чтобы мы знали, как в Вам обращаться
            div.p-ver-5
                +materialInputFiled('name1', 'Ваше имя')(class="mb-5")
                p.fs-12.gray-light-1-text Чтобы мы знали, как в Вам обращаться
            div.p-ver-5
                +materialInputFiled('name2', 'Ваше имя')(class="mb-5")
                p.fs-12.gray-light-1-text Чтобы мы знали, как в Вам обращаться
            div.p-ver-5
                +materialInputFiled('name3', 'Ваше имя')(class="mb-5")
                p.fs-12.gray-light-1-text Чтобы мы знали, как в Вам обращаться
            div.p-ver-5
                +materialFileField('Прикрепить файл.ipg', 'Загрузить')(btnClass="btn ttu u-btn _blank _green")
            div.pt-40
                a(href="#").u-btn._block._full._green._solid.p-ver-10 Сохранить
            div.p-ver-40
                h1.ttu.fs-30.m-per-0.mb-20 сменить пароль
                div.p-ver-5
                    +materialInputFiled('name4', 'Новый пароль')
                div.p-ver-5
                    +materialInputFiled('name5', 'Повторите новый пароль')
                div.pt-40
                    a(href="#").u-btn._block._full._green._solid.p-ver-10 изменить пароль