extends layouts/private.pug
block title
    title Личный кабинет - Мои заказы
block content
    h1.ttu.fs-30.m-ver-0.mb-20 МОИ адреса доставки
    +row
        div.fx-md-5
            h3.ttu.orange-light-1-text.fs-20.m-ver-0 Выберите основной адрес доставки
            p.mt-30.mb-10 Выбрав основной адрес доставки, он будет автоматически использоваться при заказе. Изменить его можно в любой момент
            each item, index in checkAddressList
                div.p-ver-5
                    div.u-radio
                        input.u-radio__input(type="radio", name="address", id="address-" + index)
                        label.u-radio__label(for="address-" + index)= item.value
        div.fx-md-7
            h3.ttu.orange-light-1-text.fs-20.m-ver-0 Указать новый адрес
            div.p-ver-10
                +row
                    div.fx-md-6
                        div.step__select
                            select(class="chosen-select", style="width: 100%")
                                option(value="Выберите область") Выберите область
                                option(value="Краснодарский край") Краснодарский край
                                option(value="Москва") Москва
                                option(value="Санкт-Петербург") Санкт-Петербург
                    div.fx-md-6
                        div.step__select
                            select(class="chosen-select", style="width: 100%")
                                option(value="Выберите область") Выберите область
                                option(value="Краснодарский край") Краснодарский край
                                option(value="Москва") Москва
                                option(value="Санкт-Петербург") Санкт-Петербург
            div.p-ver-10
                +row
                    div.fx-md-6
                        +materialInputFiled('street', 'Улица')
                    div.fx-md-2
                        +materialInputFiled('house', 'Дом')
                    div.fx-md-2
                        +materialInputFiled('flat', 'Квартира')
            div.p-ver-10
                +row
                    div.fx-md-2
                        +materialInputFiled('house', 'Дом')
                    div.fx-md-2
                        +materialInputFiled('flat', 'Квартира')