extends layouts/private.pug

block title
    title Личный кабинет - Мои заказы

block content
    h1.ttu.fs-30.m-per-0.mb-20 Мои заказы
    +row
        div.fx-md-6
            span.ttu.fw-600  Всего заказов 3 на сумму 13 250 руб.
        div.fx-md-6.right-align.left-align-sm
            div.dib.vam.mr-10
                span Выводить на странице:
            div.dib.vam
                div.step__select
                    select(class="chosen-select", style="width: 100%")
                        option(value="10") 10
                        option(value="15") 15
                        option(value="20") 20
    div.p-ver-40
        table.private__table
            thead
                tr
                    th дата
                    th НОМЕР ЗАКАЗА
                    th кол-ВО ТОВАРОВ
                    th кол-ВО подарков
                    th сумма
                    th состояние
            tbody
                tr
                    td 03.03.2015
                    td.green-text 934512
                    td 3
                    td 1
                    td 1 255 руб.
                    td.green-text Оплачен
                tr
                    td 03.03.2015
                    td.green-text 934512
                    td 3
                    td 1
                    td 1 255 руб.
                    td.green-text Доставлен
                tr
                    td 03.03.2015
                    td.green-text 934512
                    td 3
                    td 1
                    td 1 255 руб.
                    td.orange-text Ждет оплаты
                tr
                    td 03.03.2015
                    td.green-text 934512
                    td 3
                    td 1
                    td 1 255 руб.
                    td.green-text Оплачен
    div.right-align
        span Страница 1 из 1