extends layouts/private.pug
block title
    title Личный кабинет - Мои заказы
block content
    h1.ttu.fs-30.m-ver-0.orange-light-1-text.mb-20 мои избранные товары
    include modules/_sort.pug
    +row
        each item in showcase
            div.fx-sm-6.fx-md-6.fx-lg-4
                div.m-ver-10
                    +showcaseItem(item)