extends layouts/private.pug
block title
    title Личный кабинет - Мои заказы
block content
    h1.fs-30.ttu.orange-light-1-text.m-ver-0 Мои подписки
    div.p-ver-30
        p E-mail адрес, на который приходят оповещения:
            a(href="#") ivanova@mail.ru
    +row
        div.fx-md-6
            h3.ttu.fs-20.m-ver-0 вы подписаны на темы:
            div.p-ver-10
                ul(data-list="naked")
                    li
                        a(href="#") Новости
                        div.private__icon
                            +materialIcon('announcement')
        div.fx-md-6
            h3.ttu.fs-20.m-ver-0 вы можете подписаться на темы:
            div.p-ver-10
                ul(data-list="naked")
                    li
                        a(href="#") Акции
                        div.private__icon
                            +materialIcon('announcement')
                    li
                        a(href="#") Распродажи
                        div.private__icon
                            +materialIcon('announcement')