extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    section.p-ver-40
        +container
            +row
                div.fx-lg-10.fx-lg-offset-1
                    +row
                        div.fx-md-6
                            h1.fs-30.m-ver-0.ttu.center Регистрация
                            div.p-ver-10.clearfix
                                div.left.pt-10
                                    +materialIcon('local_post_office')(class="fs-18 orange-light-1-text")
                                div.ml-35
                                    +materialInputFiled('reg', 'E-mail')
                            div.pl-35.pt-10.pb-20
                                +checkbox('norobot', 'Я не робот')(class="fs-12")
                            p.fw-600 Войти через социальные сети:
                            div.center.pt-30
                                a(href="#").u-btn._line._green._solid.p-ver-10.p-hor-30 Зарегистрироваться
                        div.fx-md-6
                            +box()(class="p-per-20 gray-light-4")
                                h2.mt-0 Что мне даст регистрация
                                p.
                                    Нашим желанием есть помощь людям, стоящим перед выбором как
                                    правильно и экономически целесообразно, учитывая последние
                                    тенденции в развитии систем полива.
                                p.
                                    Основной миссией нашей компании является помощь людям, которые желают установить
                                    себе систему полива. Мы успешно работаем в сфере систем полива начиная с 2007 года,
                                    а некоторые из наших сотрудников — с 2002 года, что позволяет решать поставленные
                                    задачи.
                                ul
                                    li Нашим желанием есть помощь людям
                                    li Нашим желанием есть помощь людям
                                    li Нашим желанием есть помощь людям

