extends  layouts/main.pug
block title
    title Эколак - Главная
block content
    section.p-ver-40
        +container
            +row
                div.fx-md-6.fx-md-offset-3
                    h1.fs-30.m-ver-0.ttu.center Восстановление пароля
                    div.p-ver-10.clearfix
                        div.left.pt-10
                            +materialIcon('local_post_office')(class="fs-18 orange-light-1-text")
                        div.ml-35
                            +materialInputFiled('reg', 'E-mail')
                    div.pl-35
                        p.fs-12.
                            Если Вы забыли пароль от учетной записи - пожалуйста,
                            введите e-mail, указанный при регистрации на нашем сайте.
                            Мы пришлем Вам письмо с инструкциями по восстановлению пароля.
                    div.center.pt-30
                        a(href="#").u-btn._line._green._solid.p-ver-10.p-hor-30 Отправить
