div.ajaxTabs__slider._active.showcase.owl-carousel(data-margin="0")
    each item in showcase[3]
        div.showcase__wrap
            div.showcase__item
                div.showcase__head
                    div.showcase__pic
                        img(src=item.image, alt=item.title)
                    div.showcase__name
                        a(href=item.href)= item.title
                div.showcase__body
                    div.showcase__field
                        span.showcase__label Выбрать тару:
                        div.showcase__select
                            select(class="showcase__select chosen-select" style="width: 100%")
                                each x in [1,2,3,4,5]
                                    option(value=x)= x
                    div.showcase__field
                        span.showcase__label Количество:
                        div.showcase__input
                            div.u-spinner
                                span.u-spinner__e._left
                                    i.material-icons chevron_left
                                input(class="u-spinner__input", type="text", maxlength="3", value="1")
                                span.u-spinner__e._right
                                    i.material-icons chevron_right
                div.showcase__foot
                    div.row
                        div.fx-md-5
                            p.showcase__price= item.price
                            p.showcase__func
                                span.funcLink(class="_favorite")
                                    i.material-icons.funcLink__icon favorite
                                    span.funcLink__text Избранное
                            p.showcase__func
                                span.funcLink(class="_swap_horiz")
                                    i.material-icons.funcLink__icon swap_horiz
                                    span.funcLink__text Сравнение
                        div.fx-md-7
                            button.u-btn._block._full._solid._green.p-ver-10(href="#") В корзину
                            div.center.pt-15
                                span.showcase__fast
                                    i.material-icons mouse
                                    span Купить в 1 клик