.agency{
    @media screen and (max-width: $screen-sm-max){
        margin: -20px 0;
    }
    &__foot{
        border-top: 1px solid getColor(gray-light-2);
    }
    &__link{
        text-decoration: none;
        &:hover{
            span{
                text-decoration: none;
            }
        }
        span{
            text-decoration: underline;
        }
    }
    &__item{
        @media screen and (max-width: $screen-sm-max){
            margin: 20px 0;
        }
        &:hover{
            .agency__trigger{
                color: getColor(orange);
            }
        }
    }
    &__head{
        position: relative;
        padding-right: 30px;
        min-height: 60px;
    }
    &__trigger{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        color: getColor(gray-light-1);
        cursor: pointer;
        transition: all 0.2s ease;
        &._active{
            transform: translateY(-50%) rotate(90deg);
        }
        i{
            display: block;
        }

        &._active{
            color: getColor(orange);
        }
    }
    &__body{
        display: none;
    }
}


.agencySlider{
    margin-top: 40px;
    &._small{
        @media screen and (min-width: $screen-md-min) {
            margin-top: 0;
        }
    }
    &__nav{
        position: absolute;
        bottom: 100%;
        right: 5px;
        cursor: pointer;
        &.disabled{
            display: none;
        }
    }
    &__prev, &__next{
        border: 1px solid getColor(orange-light-1);
        background-color: getColor(orange-light-1);
        color: getColor(white);
        font-size: 34px;
        margin: 0 5px;
        border-radius: 3px;
        &.disabled{
            opacity: 0.7;
            cursor: default;
        }
    }
    .agency__item{
        margin: 5px 10px;
    }
}