.ajaxTabs{
    &__header{
        border-bottom: 2px solid getColor(gray-light-3);
    }
    &__left, &__right{
        @media screen and (max-width: $screen-sm-max) {
            display: none !important;
        }
        margin-bottom: 11px;
        &:after{
            margin-top: 11px;
        }
    }
    &__left, &__right, &__link{
        color: getColor(gray-dark-3);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transition: all 0.2s ease;
        margin-left: 10px;
        margin-right: 10px;


        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover, &._active{
            color: getColor(orange);
        }
        @media screen and (min-width: $screen-md-min) {
            &:after{
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                top: 100%;
                transition: all 0.2s ease;
                height: 2px;
                background-color: getColor(gray-light-3);
            }
            &:hover, &._active{
                &:after{
                    background-color: getColor(orange);
                }
            }
        }

    }
    &__tabs{
        overflow: auto;
        padding-bottom: 20px;
    }
    &__link{
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;

        @media screen and (min-width: $screen-md-min) {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 20px;
            &:after{
                margin-top: 20px;
            }
        }
        @media screen and (max-width: $screen-sm-max) {
            float: left;
            font-size: 18px;
        }
        @media screen and (max-width: $screen-xs-max) {
            font-size: 14px;
        }
    }

    &__slider{
        display: none !important;
        &._active{
            display: block  !important;
        }
    }
    &__title{
        line-height: 1;
    }
    &__body{
        position: relative;
        min-height: 100px;
    }
    &__preloader{
        width: 40px;
        height: 40px;
        background-color: getColor(orange);

        -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
        animation: sk-rotateplane 1.2s infinite ease-in-out;

        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;

        &_custom{
            position: static;
            margin: 100px auto;
        }
    }


    &__nav{
        @media screen and (min-width: $screen-md-min) {
            display: none;
        }
    }

    &__prev, &__next{
        @media screen and (max-width: $screen-sm-max) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 76px;
            color: getColor(orange-light-1);
            text-shadow: 0 0 2px rgba(0,0,0,0.5);

            .showcase &{
                display: none;
            }
            .finalOffer &{
                transform: none;
                top: 20%;
            }
        }
    }

    &__prev{
        @media screen and (max-width: $screen-sm-max) {
            left: 0;
        }
    }
    &__next{
        @media screen and (max-width: $screen-sm-max) {
            right: 0;
        }
    }
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}