.autocomplete{
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 350px;
    margin-top: 2px;
    background-color: getColor(white);
    border: 1px solid getColor(gray-light-3);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item{
        border-bottom: 1px solid getColor(gray-light-3);
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        text-decoration: none;
        &:hover{
            .autocomplete__name{
                text-decoration: none;
            }
        }
    }
    &__product{
        display: flex;
        align-items: center;
    }
    &__pic{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border: 1px solid getColor(gray-light-3);
    }
    &__name{
        text-decoration: underline;
    }
    &__price{
        color: getColor(gray-dark-1);
        font-weight: bold;
        text-decoration: none;
        &:after{
            font-family: 'rouble';
            content: "\e900";
            font-weight: 400;
            font-size: 10px;
            vertical-align: 1px;
            margin-left: 4px;
        }
    }
    &__all{
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        font-weight: 900;
        display: block;
        font-size: 13px;

        &:hover{

        }
    }
}