.bannerTop{


    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    img{
        display: block;
    }

    @media screen and (min-width: $screen-md-min){
        height: 224px;
        background-color: getColor(white);
    }
    @media screen and (max-width: $screen-sm-max) {
        background-color: getColor(orange-light-2);
    }
    &:after{
        @media screen and (min-width: $screen-md-min) {
            content: '';
            position: absolute;
            right: -4%;
            top: -100%;
            z-index: 1;
            height: 300%;
            width: 60%;
            background-color: getColor(orange-light-2);
            transform: rotate(-25deg);
        }
        @media screen and (min-width: $screen-lg-min) {
            width: 50%;
        }
    }
    &__inner{
        @media screen and (min-width: $screen-md-min){
            position: absolute;
            right: 60px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }

        @media screen and (max-width: $screen-sm-max) {
            padding: 10px 0;
        }
    }
    &__title{

        text-align: center;
        text-transform: uppercase;


        @media screen and (min-width: $screen-md-min){
            margin: 0 0 10px 0;
            font-size: 38px;
        }
        @media screen and (max-width: $screen-sm-max) {
            font-size: 18px;
        }
    }
}