.callback{
    max-width: 500px;
    &__input{
        color: getColor(white);
    }
    &__textarea{
        color: getColor(white);
        border: none;
        border-bottom: 1px solid getColor(white);
        height: 80px !important;
        resize: none;
        padding-top: 10px;

        &:focus{
            border-bottom: 1px solid getColor(orange);
            box-shadow: 0 1px 0 0 getColor(orange);
        }
        &.invalid{
            border-bottom: 1px solid #F44336;
            box-shadow: 0 1px 0 0 #F44336;
        }

        + .active{
            color: getColor(orange) !important;
        }

        &:focus, &:active{
            outline: none;
        }
    }
}