.calcModal{
    &__title{

    }
    &__form{
        text-align: center;
    }
    &__btn{

    }
    &__result{
        text-align: center;
        p{
            margin: 15px 0 0 0;
        }
    }
}