.captcha{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    &__field{
        margin-right: 10px;
        flex-grow: 1;
    }
    &__pic{
        img{
            cursor: pointer;
            &:hover{
                box-shadow: 0 0 30px getColor(orange);
            }
        }
    }

}