.cartTable{
    width: 100%;
    &__head{
        th{
            border-bottom: 1px solid getColor(gray-light-1);
            text-transform: uppercase;
            font-weight: 600;
            padding-bottom: 20px;
        }
        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
    }
    &__body{
        @media screen and (max-width: $screen-sm-max) {
            display: block;
        }
        tr{
            @media screen and (max-width: $screen-sm-max) {
                display: block;
                border-top: 1px solid getColor(gray-light-1);
                border-bottom: 1px solid getColor(gray-light-1);
                text-align: center;
            }
            td{

                @media screen and (min-width: $screen-md-min) {
                    padding: 30px 10px;
                    border: 1px solid getColor(gray-light-1);
                    &:first-child{
                        border-left: none;
                        padding-left: 0;
                    }
                    &:last-child{
                        border-left: none;
                        border-right: none;
                        padding-right: 0;
                    }
                }
                ._checkout &{
                    //border: none;
                    @media screen and (min-width: $screen-lg-min) {
                        padding: 15px 0;
                    }
                }
                @media screen and (max-width: $screen-sm-max) {
                    display: block;
                    padding: 5px 0;

                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5){
                        display: inline-block;
                        vertical-align: middle;
                        padding: 5px;
                    }
                }
                &:before{
                    @media screen and (max-width: $screen-sm-max) {
                        content: attr(data-label);
                        display: block;
                        text-align: center;
                        margin-bottom: 5px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    &__product{
        ._checkout &{
            @media screen and (min-width: $screen-md-min) {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }
    &__pic{
        @media screen and (min-width: $screen-md-min) {
            float: left;
            width: 90px;
            ._checkout &{
                float: none;
                flex-shrink: 0;
            }
        }

        img{
            //border: 1px solid getColor(gray-light-4);
        }
    }
    &__text{
        @media screen and (min-width: $screen-md-min) {
            margin-left: 110px;
            ._checkout &{
                margin-left: 20px;
            }
        }
    }
    &__name{
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
    }
    &__descr{
        margin-top: 25px;
    }
    &__progress{
        padding-top: 10px;
    }
    &__del{
        cursor: pointer;
        &:hover{
            color: getColor(red);
        }
        i{
            display: block;
        }
    }
    &__final{
        @media screen and (min-width: $screen-md-min) {
            text-align: right;
        }
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }

        > a{
            @media screen and (max-width: $screen-ms-max) {
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    th, td{
        text-align: center;
        @media screen and (min-width: $screen-md-min) {
            &:first-child{
                width: 55%;
                text-align: left;
            }
        }
    }
}