.checkoutHeader{
    background-color: getColor(white);
    &__flex{
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            height: 107px;
        }
        &:after, &:before{
            display: none;
        }
    }
    &__box{
        &_1{
            @media screen and (min-width: $screen-md-min) {
                width: 180px;
            }
        }
        &_2{

        }
        &_3{

        }
        &_4{
            @media screen and (min-width: $screen-lg-min) {
                width: 320px;
            }
            @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                width: 280px;
            }
        }
    }
}