.checkoutInfo{

    @media screen and (min-width: $screen-md-min){
        border-left: 1px dashed getColor(gray-light-2);
    }
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 20px;
        text-align: center;
    }
}