.checkoutLogin{
    @media screen and (min-width: $screen-md-min) {
        padding-left: 40px;
    }
    &__social{
        @media screen and (min-width: $screen-md-min) {
            padding: 30px 0;
        }
    }
    &__btn{
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }
    }
}