.checkoutForm{
    .material-input-field{
        input{
            height: 30px;
            line-height: 30px;
        }
        label{
            top: 50%;
            transform: translateY(-50%);
            &.active{
                transform: translateY(-200%)
            }
        }
    }
    &__prefix{

    }
}