.checkoutStep{
    @media screen and (min-width: $screen-md-min) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item{
        @media screen and (min-width: $screen-lg-min) {
            &:nth-child(2) {
                position: relative;
                text-align: center;
                .checkoutStep__count {
                    &:before {
                        content: '';
                        width: 50px;
                        height: 2px;
                        background-color: getColor(gray-light-3);
                        position: absolute;
                        top: 50%;
                        margin-top: -1px;
                        transform: translateX(-15px);
                    }
                    &:before {
                        right: 100%;
                    }
                }
                .checkoutStep__title {
                    &:after {
                        content: '';
                        width: 50px;
                        height: 2px;
                        background-color: getColor(gray-light-3);
                        position: absolute;
                        top: 50%;
                        margin-top: -1px;
                        transform: translateX(15px);
                    }

                    &:after {
                        left: 100%;
                    }
                }
            }
        }
        @media screen and (max-width: $screen-sm-max) {
            padding: 10px 0;
        }
    }
    &__count{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
        color: getColor(white);
        background-color: getColor(gray-dark-3);
        position: relative;
        ._active &{
            background-color: getColor(orange-light-1);
        }
        ._next &{
            background-color: getColor(gray-light-3);
        }
    }
    &__title{
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        @media screen and (max-width: $screen-xs-max) {
            max-width: 80%;
        }
        ._next &{
            color: getColor(gray-light-3);
        }
    }
}