.consultation{
    @media screen and (min-width: $screen-md-min) {
        padding: 70px 0;
    }
    @media screen and (max-width: $screen-sm-max) {
        padding: 30px 0;
    }
    &__form{
        .material-input-field{
            .file-path{
                color: getColor(white);
            }
            input{
                border-bottom: 1px solid getColor(white);
                &[type="text"]{
                    position: relative;
                    z-index: 2;
                }

                &::-webkit-input-placeholder {
                    color: getColor(white)
                }

                &:-moz-placeholder {
                    color: getColor(white)
                }

                &::-moz-placeholder {
                    color: getColor(white)
                }

                &:-ms-input-placeholder {
                    color: getColor(white)
                }
            }
            label{
                color: getColor(white);
                z-index: 1;
            }
        }
    }

    .tooltip{
        color: getColor(orange-light-1);
        border-bottom: 2px dashed getColor(orange-light-1);
        cursor: pointer;
        &:hover{
            border-bottom-color: getColor(white);
            color: getColor(white);
        }
    }
}