.developBy{
	@media screen and (min-width: $screen-md-min) {
		text-align: right;
		a{
			position: relative;
			text-decoration: none;
			padding-right: 80px;
			&:hover{
				span{
					color: getColor(white);
				}
			}
		}
		img{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		padding-top: 20px;
		text-align: center;
		span{
			display: block;
		}
	}
}