.dropcart{
    background-color: getColor(gray-light-4);
    &__box{
        padding: 15px;
        &_border{
            border-top: 1px solid getColor(gray-light-3);
        }
    }
    &__title{
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }
    &__wrap{
        height: 250px;
        position: relative;
        padding-right: 15px;
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;

    }
    &__item{
        background-color: getColor(white);
        border: 1px solid getColor(gray-light-3);
        padding: 10px;
        position: relative;
        &:not(:last-child){
            border-bottom: none;
        }
    }
    &__del{
        position: absolute;
        top: 5px;
        right: 5px;
        color: getColor(gray-light-2);
        line-height: 1;
        cursor: pointer;
        &:hover{
            color: getColor(red);
        }
        i{
            vertical-align: bottom;
            font-size: 16px;
        }
    }

    &__link{
        text-decoration: none;
        color: getColor(gray-dark-2);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        display: table;
        width: 100%;
        margin-bottom: 5px;
        &:hover{
            .dropcart__name{
                color: getColor(green);
            }
        }
    }
    &__pic{
        display: table-cell;
        vertical-align: middle;
        width: 50px;
        img{
            border: 1px solid getColor(gray-light-3);
            vertical-align: bottom;
        }
    }
    &__descr{
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }
    &__name{
        margin: 0 0 5px 0;
        font-size: 12px;
        display: block;
        padding-right: 10px;
    }
    &__price{
        display: block;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        &:after{
            font-family: 'rouble';
            content: "\e900";
            font-weight: 400;
            font-size: 12px;
            vertical-align: 2px;
            margin-left: 3px;
        }
        &_total{
            display: inline-block;
            vertical-align: bottom;
            margin-left: 10px;
        }
    }
    &__total{
        text-align: right;
        padding-top: 10px;
    }
}