.feedback{
    &__item{
        ._row &{
            @include clearfix();
        }
    }
    &__pic{
        ._row &{
            float: left;
            width: 120px;
        }
        ._col &{
            margin-bottom: 20px;
            img{
                width: 100%;
            }
        }
        img{
            display: block;
        }
    }
    &__body{
        ._row &{
            margin-left: 140px;
            position: relative;
        }
    }
    &__date{
        ._row &{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 12px;
        }
    }
    &__name{
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
        color: getColor(orange-light-1);
        margin-bottom: 10px;


    }
    &__text{
        ._col &{
            padding-bottom: 10px;
        }
    }
    &__link{
        ._col &{
            text-align: right;
            padding-top: 10px;
        }
    }
    &__video{
        img{
            ._col &{
                display: block;
                width: 100%;
            }
        }
    }
}