.feedForm{
    &__pic{
        margin-bottom: 20px;
        img{
            display: block;
            width: 100%;
        }
    }
    &__row{
        padding: 10px 0;
    }
    &__icon{
        color: getColor(orange-light-1);
        float: left;
        padding-top: 5px;
        i{
            font-size: 20px;
        }
    }
    &__field{
        margin-left: 40px;
        .material-input-field{
            input{
                border-color: getColor(gray-dark-3);
                color: getColor(gray-dark-3);
                height: 28px;
                line-height: 28px;
            }
            label{
                color: getColor(gray-dark-3);
                top: 50%;
                transform: translateY(-50%);
                &.active{
                    transform: translateY(-190%);
                }
            }
            textarea + label{
                transform: none;
                top: 0.8rem;
            }
        }

    }
}