.filter{
    &__box{
        & + &{
            margin-top: 20px;
        }
    }
    &__head{
        position: relative;
        padding-right: 30px;
    }
    &__title{
        text-transform: uppercase;
        font-weight: 600;
        @include clearfix();
    }
    &__count{
        width: 26px;
        height: 26px;
        font-size: 18px;
        color: getColor(white);

        border-radius: 50%;
        line-height: 26px;
        text-align: center;
        float: left;

        background-color: getColor(gray-light-2);

        ._active &{
            background-color: getColor(green) !important;
        }
        ._checked &{
            //box-shadow: 0 0 0 1px getColor(orange-light-1);
            background-color: getColor(orange-light-1);
        }
    }
    &__label{
        display: block;
        margin-left: 35px;
        padding-top: 3px;
    }
    &__trigger{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        color: getColor(gray-light-1);
        cursor: pointer;
        transition: all 0.2s ease;
        &._active{
            transform: translateY(-50%) rotate(90deg);
        }
        i{
            display: block;
        }
    }
    &__body{
        display: none;
        padding-top: 10px;
    }
}