.footerMenu{
	@media screen and (max-width: $screen-sm-max) {
		display: none;
	}
	&__box{
		@media screen and (min-width: $screen-md-min) {
			float: left;
			padding: 0 10px;
		}
		@media screen and (max-width: $screen-sm-max) {
			padding: 10px 0;
			li{
				padding: 5px 0;
			}
		}
	}
	a{
		&:hover{
			color: getColor(orange);
		}
	}
}