.funcLink{
    cursor: pointer;
    &__icon{
        font-size: 16px;
        margin-right: 3px;
        display: inline-block;
        vertical-align: middle;
        ._favorite &{
            color: getColor(red);
        }
        ._swap_horiz &{
            color: getColor(orange);
        }
    }
    &__text{
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;

        @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            .minicart &{
                display: none;
            }
        }
    }
    &:hover{
        .funcLink__text{
            color: getColor(green);
        }
    }
}