.headerScroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: getColor(white);
    box-shadow: 0 2px 2px rgba(getColor(black), 0.3);
    transition: all 0.2s ease;
    z-index: 101;

    .ie8 &{
        display: none;
    }
    @media screen and (max-width: $screen-sm-max) {
        display: none;
    }
    &.headroom--not-top{
        transform: translateY(0);
    }
    .header__flex{
        align-items: center;
    }
    &__func{
        text-align: right;
        position: relative;
        padding: 10px 0;
    }
    &__icon{
        cursor: pointer;
        display: inline-block;
        padding: 0 5px;
        position: relative;
        i{
            vertical-align: bottom;
            font-size: 28px;
        }
        &_active, &:hover{
            i{
                color: getColor(green);
            }
        }
        &:not(:first-child){
            border-left: 1px solid getColor(gray-light-3);
        }
        &:first-of-type{
            padding-left: 0;
        }
        &:last-of-type{
            padding-right: 0;
        }
    }
    &__items{
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 2;
        width: 20px;
        height: 20px;
        line-height: 18px;
        text-align: center;
        border-radius: 50%;
        font-size: 9px;
        background-color: getColor(gray-light-3);
        color: getColor(gray-dark-3);
        border: 2px solid getColor(white);
    }
    &__popup{
        position: absolute;
        top: 150%;
        right: 0;
        z-index: 2;
        width: 300px;
        box-shadow: 0 0 2px rgba(getColor(black), 0.3);
        background-color: getColor(white);
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: all 0.2s ease;
        text-align: left;
        &._active{
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }

    .container{
        position: relative;
    }
    &__trigger{
        width: 50px;
        text-align: center;
        position: absolute;
        top: 7px;
        left: 0;
        cursor: pointer;
        &:hover{
            i{
                color: getColor(gray);
            }
        }
        i{
            color: getColor(gray-light-2);
            font-size: 34px;
        }
    }
    &__inner{
        margin-left: 50px;
    }
}