.headerMobile{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 60px;
    box-shadow: 0 2px 4px rgba(getColor(gray), 0.5);
    background-color: getColor(white);
    &__wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &__box{
        &._func{
            width: 60px;
            &:first-child{
                border-right: 1px solid getColor(gray-light-3);
            }
            &:last-child{
                border-left: 1px solid getColor(gray-light-3);
            }
        }
    }
    &__e{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 60px;
        height: 60px;
        text-decoration: none;
        i{
            font-size: 34px;
            vertical-align: bottom;
            color: getColor(gray-light-1);
        }
    }
    &__link{
        position: relative;
    }
    &__items{
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 2;
        width: 20px;
        height: 20px;
        line-height: 18px;
        text-align: center;
        border-radius: 50%;
        font-size: 9px;
        background-color: getColor(gray-light-3);
        color: getColor(gray-dark-3);
        border: 2px solid getColor(white);
    }
}