.iconBox{
	position: relative;
	&__icon{

		i{
			vertical-align: bottom;
		}
		@media screen and (min-width: $screen-md-min) {
			position: absolute;
			top: 2px;
			left: 0;
			line-height: 1;
			&_center{
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__text{
		@media screen and (min-width: $screen-md-min) {
			margin-left: 25px;
		}
	}

	@media screen and (max-width: $screen-sm-max) {
		display: table;
		margin: 5px auto;
		&__icon, &__text{
			display: table-cell;
			vertical-align: middle;
		}
		&__icon{
			width: 30px;
			text-align: center;
		}
		&__text{

		}
	}
	@media screen and (max-width: $screen-ms-max) {
		width: 100%;
		text-align: left;
	}
}