.instruction{
    &__item{
        border-bottom: 2px solid getColor(white);
        &:hover{
            border-bottom-color: getColor(orange);
            .instruction__pic{
                &:after{
                    opacity: 1;
                }
            }
            .instruction__title{
                transform: translateY(-10px);
            }
            .instruction__body{
                a{
                    color: getColor(orange);
                }
            }

            .gallery__icon{
                opacity: 1;
                visibility: visible;
                transform: translateX(0px);
            }
            .gallery__title, .gallery__text{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    &__pic{
        position: relative;
        border-radius: 2px 2px 0 0;
        cursor: pointer;
        img{
            display: block;
            width: 100%;
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all 0.2s ease;
            opacity: 0.7;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        }
        ._video &{

            &:before{
                content: 'play_circle_outline';
                font-family: 'Material Icons';
                font-size: 46px;
                color: getColor(white);
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
    &__wrap{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 20px 20px 20px;
        z-index: 2;
    }
    &__title{
        transition: all 0.2s ease;
    }
    &__body{
        a{
            color: getColor(green);
        }
    }

    &__article{
        height: 57px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}