.login{
    width: 230px;
    font-size: 13px;
    &__body{
        padding: 15px;
    }
    &__form{

    }
    &__field{
        margin: 10px 0;
        &:first-child{
            margin-top: 0;
        }
    }
    &__btn{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__forgive{
        text-align: center;
        margin-top: 10px;
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__foot{
        padding: 10px 15px;
        border-top: 1px solid getColor(gray-light-2);
        span{
            color: getColor(gray-light-1);
        }
    }
}