.loginLink{
	&__icon{
		display: inline-block;
		vertical-align: middle;
	}
	&__text{
		display: inline-block;
		vertical-align: middle;
		color: getColor(green);
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
}