.mainGallery{
    &__header{
        border-bottom: 2px solid getColor(gray-light-3);
    }
    &__left, &__right{
        @media screen and (max-width: $screen-sm-max) {
            display: none !important;
        }
        margin-bottom: 11px;
        &:after{
            margin-top: 11px;
        }
    }
    &__left, &__right, &__link{
        color: getColor(gray-dark-3);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transition: all 0.2s ease;
        margin-left: 10px;
        margin-right: 10px;


        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover, &._active{
            color: getColor(orange);
        }
        @media screen and (min-width: $screen-md-min) {
            &:after{
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                top: 100%;
                transition: all 0.2s ease;
                height: 2px;
                background-color: getColor(gray-light-3);
            }
            &:hover, &._active{
                &:after{
                    background-color: getColor(orange);
                }
            }
        }

    }
    &__tabs{
        overflow: auto;
        padding-bottom: 20px;
    }
    &__link{
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;

        @media screen and (min-width: $screen-md-min) {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 20px;
            &:after{
                margin-top: 20px;
            }
        }
        @media screen and (max-width: $screen-sm-max) {
            float: left;
        }
    }

    &__slider{
        display: none !important;
        &._active{
            display: block  !important;
        }
    }
    &__title{
        line-height: 1;
    }
}