.minicart{
	position: relative;
	&__icon{
		float: left;
		position: relative;
		&_active{
			i{
				color: getColor(green);
			}
		}
		i{
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				font-size: 30px;
			}
			@media screen and (min-width: $screen-lg-min){
				font-size: 38px;
			}
		}
	}
	&__inner{
		display: block;
		@media screen and (min-width: $screen-md-min) {
			text-align: right;
		}

	}
	&__link{
		display: block;
		&:hover{
			.minicart__icon{
				i{
					color: getColor(green);
				}
			}
		}
	}
	&__title{
		font-size: 12px;
		display: block;
		@media screen and (min-width: $screen-lg-min){
			font-size: 14px;
		}
	}
	&__count{
		color: getColor(green);
		font-weight: 600;
		font-size: 22px;
		&:after{
			font-family: 'rouble';
			content: "\e900";
			font-weight: 400;
			font-size: 16px;
			vertical-align: 1px;
			margin-left: 4px;
		}
	}
	&__items{
		position: absolute;
		top: -5px;
		right: -5px;
		z-index: 2;
		width: 24px;
		height: 24px;
		line-height: 22px;
		text-align: center;
		border-radius: 50%;
		font-size: 12px;
		background-color: getColor(gray-light-3);
		color: getColor(gray-dark-3);
		border: 2px solid getColor(white);
	}
	&__func{
		text-align: right;
		.funcLink + .funcLink{
			margin-left: 5px;
		}
	}
	&__popup{
		position: absolute;
		top: 120%;
		right: 0;
		z-index: 20;
		width: 300px;
		box-shadow: 0 0 2px rgba(getColor(black), 0.3);
		background-color: getColor(white);
		opacity: 0;
		visibility: hidden;
		transform: translateY(30px);
		transition: all 0.2s ease;
		text-align: left;
		&._active{
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
		}
	}
}