.offcanvas{
    &__logo{
        text-align: center;
        padding: 10px 0;
    }
    &__wrap{
        padding: 10px;
        border-bottom: 1px solid getColor(gray-light-2);
    }
    &__menu{
        border-top: 1px solid getColor(gray-light-2);
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                &:not(:first-child){
                    border-top: 1px solid getColor(gray-light-2);
                }
            }
            a{
                display: block;
                text-transform: uppercase;
                font-size: 14px;
                padding: 10px 10px;
                color: getColor(gray-dark-3);
                text-decoration: none;
                &._active{
                    background-color: getColor(green);
                    color: getColor(white);
                }
            }
        }
    }
    &__foot{
        border-top: 1px solid getColor(gray-light-2);
        padding: 10px;
    }
}