//.ie8{
//    overflow: hidden;
//}

.oldbrowser{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #ff9e95;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}