.pickerBanner{
    padding: 20px 0;
    @media screen and (max-width: $screen-sm-max) {
        display: none;
    }
    &__title{
        font-size: 24px;
        margin: 0 0 30px 0;
        text-transform: uppercase;
        color: getColor(orange-light-1);
        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
    }
    &__pic{
        display: block;
        width: 100%;
    }
}