.privateNoty{
    background-color: getColor(gray-light-4);
    border: 1px solid getColor(gray-light-2);
    padding: 20px 25px;
    margin-bottom: 20px;
    position: relative;

    &__text{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__close{
        position: absolute;
        top: 5px;
        right: 5px;
        i{
            font-size: 22px;
            color: getColor(gray);
        }
    }
}