.privateMenu{
	text-align: center;
	&__list{

	}
	li{
		&:not(:last-child){
			border-bottom: 1px solid getColor(gray-light-2);
		}
		a{
			color: getColor(gray-dark-3);
			display: block;
			text-decoration: none;
			padding: 5px 0;
			._active &, &:hover{
				background-color: getColor(gray-light-4);
			}
		}
		i{
			display: inline-block;
			vertical-align: middle;
			color: getColor(green);
			._active &{
				color: getColor(gray);
			}
		}
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}



}