.promocode{
    .material-input-field{
        input{
            border-color: getColor(gray-dark-3);
            color: getColor(gray-dark-3);
            height: 30px;
            line-height: 30px;
        }
        label{
            color: getColor(gray-dark-3);
            top: 50%;
            transform: translateY(-50%);
            &.active{
                transform: translateY(-200%);
            }
        }
    }
}