.searchTop {
    position: relative;
    &__icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: getColor(gray);
        height: 28px;
    }
    &__field{
        margin-right: 50px;
        border-bottom: 1px solid getColor(gray);
        padding: 5px 0;
    }
    &__input {
        border: none;
        background: none;
        padding: 0;
        color: getColor(gray-dark-3);
        &:hover, &:focus, &:active{
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: getColor(gray-dark-3);
        }
        &::-moz-placeholder {
            color: getColor(gray-dark-3);
        }
        &:-moz-placeholder {
            color: getColor(gray-dark-3);
        }
        &:-ms-input-placeholder {
            color: getColor(gray-dark-3);
        }
    }
}