.siteContentPages{
	&__item{
		padding: 0 10px;
		display: inline-block;
		vertical-align: middle;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
	&__link{
		color: getColor(gray);
		display: block;
		transition: all 0.2s ease;
		&._active, &:hover{
			color: getColor(black);
		}
	}
}