.social{
    margin: 0;
    padding: 0;
    list-style: none;

    &_login{
        margin-top: 10px;
    }
    &_links{
        display: inline-block;
        vertical-align: middle;

        @media screen and (max-width: $screen-ms-max) {
            margin-left: 0;
            margin-top: 10px;
        }
    }
    &__item{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    &__link{
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        background-color: getColor(gray-light-2);
        color: getColor(white);
        text-decoration: none;
        border-radius: 3px;
        i{
            line-height: 25px;
        }
        &:hover{
            background-color: getColor(orange);
        }
    }
}
