.sort{
    border-bottom: 2px solid getColor(gray-light-3);
    padding-bottom: 15px;
    padding-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__box{
        @media screen and (min-width: $screen-md-min) {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        .showcase__select{
            width: auto;
            .chosen-container-single .chosen-single,
            .chosen-container .chosen-drop{
                background-color: #fff;
            }
            .chosen-container-single .chosen-single div b:before{
                color: getColor(gray);
            }

        }
    }
    &__title{
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        @media screen and (min-width: $screen-md-min) {
            margin-right: 10px;
        }
        @media screen and (max-width: $screen-sm-max) {
            font-size: 10px;
            margin-right: 10px;
        }
    }
    &__list{
        @media screen and (max-width: $screen-sm-max) {
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__item{
        @media screen and (max-width: $screen-sm-max) {
            padding: 2px 0;
            text-align: center;
        }
        @media screen and (min-width: $screen-md-min) {
            &:not(:first-child){
                .sort__trigger{
                    &._order{
                        margin-left: 10px;
                    }
                    &._view{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    &__trigger{
        text-transform: uppercase;
        color: getColor(gray-light-1);
        cursor: pointer;
        display: block;
        line-height: 1;
        transition: all 0.2s ease;
        position: relative;
        @media screen and (min-width: $screen-md-min) {
            &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                border-bottom: 2px solid getColor(gray-light-3);
                transition: all 0.2s ease;
            }
        }

        &:hover, ._active &{
            color: getColor(orange-light-1);
            @media screen and (min-width: $screen-md-min) {
                &:before{
                    border-color: getColor(orange-light-1);
                }
            }
        }
        &._order{
            font-size: 12px;
            font-weight: 600;
            i, span{
                display: inline-block;
                vertical-align: middle;
            }
            i{
                font-size: 18px;
            }
            span{
                margin-left: 5px;
            }
            &:before{
                bottom: -20px;
            }
            ._active &{
                &:after{
                    font-family: 'Material Icons';
                    color: getColor(gray-dark-2);
                    font-size: 16px;
                    @media screen and (min-width: $screen-md-min) {
                        position: absolute;
                        left: 105%;
                        top: 0;
                    }
                    @media screen and (max-width: $screen-sm-max) {
                        vertical-align: -3px;
                        margin-left: 5px;
                    }
                }
            }
            ._active._up &{
                @media screen and (min-width: $screen-md-min) {
                    margin-right: 10px;
                }
                &:after{
                    content: '\E5D8';
                }
            }
            ._active._down &{
                @media screen and (min-width: $screen-md-min) {
                    margin-right: 10px;
                }
                &:after{
                    content: '\E5DB';
                }
            }

            @media screen and (max-width: $screen-sm-max) {
                font-size: 10px;
                i{
                    font-size: 14px;
                }
            }
        }
        &._view{
            &:before{
                bottom: -17px;
            }
        }
    }
}