.step{
    &._line{
        background-color: getColor(white);
        box-shadow: 0 2px 2px rgba(getColor(black), 0.2);
        border-radius: 3px;

        position: relative;
        z-index: 1;
        @media screen and (min-width: $screen-md-min) {
            height: 145px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
        }
    }
    &__box{
        @media screen and (min-width: $screen-md-min) {

            ._line &{
                display: flex;
                flex-grow: 1;
                align-items: flex-start;
                flex-direction: column;
                width: 20%;
                padding: 20px;
                background-color: getColor(white);
                box-shadow: 0 0 0 1px getColor(gray-light-4);
                position: relative;
                z-index: 1;
                transition: all 0.2s ease;

                &._last{
                    flex-direction: row;
                    align-items: center;
                }
            }
            ._vertical &{
                &:not(:first-child){
                    padding-top: 20px;
                }
            }

            &._active{
                ._line &{
                    box-shadow: 0 0 0 1px getColor(green);
                    margin-top: -10px;
                }
                z-index: 2;
            }
        }
        @media screen and (max-width: $screen-sm-max) {
            padding: 10px;

        }
        opacity: 0.7;
        &._full{
            opacity: 1;
            .step__count{
                background-color: getColor(green);
            }
        }
        &._active{
            opacity: 1;
            .step__count{
                background-color: getColor(green);
            }
        }
        &._last{
            opacity: 1;
        }
    }
    &__title{
        margin: 0 0 20px 0;
        text-transform: uppercase;
        @include clearfix();
    }
    &__count{
        width: 26px;
        height: 26px;
        font-size: 18px;
        color: getColor(white);

        border-radius: 50%;
        line-height: 26px;
        text-align: center;
        float: left;

        ._line &{
            background-color: getColor(gray-light-2);
        }
        ._vertical &{
            background-color: getColor(gray-dark-3);
        }
    }
    &__label{
        display: block;
        margin-left: 35px;
        padding-top: 3px;
    }
    &__select{
        width: 100%;
        .chosen-container-single{
            .chosen-single {
                position: relative;
                display: block;
                overflow: hidden;
                padding: 0;
                height: 29px;
                border: none;
                border-bottom: 1px solid getColor(gray-dark-3);
                background: none;
                color: getColor(gray-dark-3);
                text-decoration: none;
                white-space: nowrap;
                line-height: 28px;
            }
            .chosen-results{
                padding-top: 4px;
            }
        }
    }
}