.strippedTitle{
	@media screen and (min-width: $screen-md-min) {
		border-bottom: 1px solid getColor(gray-light-1);
		line-height: 0;
		span{
			padding: 0 20px;
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		margin: 0;
	}
}