.superoffer{
    &__title{
        text-transform: uppercase;
        color: getColor(orange-light-1);
        line-height: 1;
        text-align: center;
        margin: 0;
        font-size: 24px;
    }
    &__pic{
        padding: 20px 0;
        margin: 10px 0;
        background-color: getColor(white);
        text-align: center;
        img{
            vertical-align: bottom;
        }
    }
    &__name{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        display: block;
    }
    &__price{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 5px 0;
        &:after{
            font-family: 'rouble';
            content: "\e900";
            font-weight: 400;
            font-size: 18px;
            vertical-align: 1px;
            margin-left: 4px;
        }
    }
}