.tags{
    margin: -5px;
    @include clearfix();
    &__item{
        float: left;
        margin: 5px;
        border-radius: 3px;
        font-size: 12px;
        padding: 7px;
        text-decoration: none;
        color: getColor(gray-dark-4);
    }
}