@font-face {
    font-family: 'rouble';
    src:  url('../fonts/rouble/rouble.eot?czke77');
    src:  url('../fonts/rouble/rouble.eot?czke77#iefix') format('embedded-opentype'),
    url('../fonts/rouble/rouble.ttf?czke77') format('truetype'),
    url('../fonts/rouble/rouble.woff?czke77') format('woff'),
    url('../fonts/rouble/rouble.svg?czke77#rouble') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-rouble{
    font-family: 'rouble' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        content: "\e900";
    }

}
.rouble{
    &:after{
        font-family: 'rouble';
        content: "\e900";
        font-weight: 400;
        font-size: 16px;
        vertical-align: 1px;
        margin-left: 4px;
    }
}
