@font-face {
    font-family: 'social';
    src:  url('../fonts/social/social.eot?e8rrl6');
    src:  url('../fonts/social/social.eot?e8rrl6#iefix') format('embedded-opentype'),
    url('../fonts/social/social.ttf?e8rrl6') format('truetype'),
    url('../fonts/social/social.woff?e8rrl6') format('woff'),
    url('../fonts/social/social.svg?e8rrl6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'social' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tw:before {
    content: "\f099";
}
.icon-fb:before {
    content: "\f09a";
}
.icon-gp:before {
    content: "\f0d5";
}
.icon-yb:before {
    content: "\f167";
}
.icon-vk:before {
    content: "\f189";
}
.icon-ok:before {
    content: "\f263";
}

