.u-bread{
    background-color: getColor(gray-light-4);
    @media screen and (min-width: $screen-md-min) {
        padding: 30px 0;
    }
    @media screen and (max-width: $screen-sm-max) {
        padding: 20px 0;
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item{
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        &:not(:last-child):after{
            content: '/';
            margin-left: 3px;
        }
    }
    &__link{
        color: getColor(gray-dark-3);
    }
    &__text{
        color: getColor(green);
    }
}