.u-btn{
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	transition: all 0.2s ease;
	border: none;
	cursor: pointer;
	&._block{
		display: block;
	}
	&._full{
		width: 100%;
	}
	&._line{
		display: inline-block;
		vertical-align: middle;
	}
	&._shadow{
		box-shadow: 0 2px 2px rgba(getColor(black), 0.3);
	}

	&._solid{
		&._orange{
			border: 1px solid getColor(orange);
			background-color: getColor(orange);
			color: getColor(white);
			&:hover{
				background-color: getColor(white);
				color: getColor(orange);
			}
		}
		&._green{
			border: 1px solid getColor(green);
			background-color: getColor(green);
			color: getColor(white);
			&:hover{
				background-color: getColor(white);
				color: getColor(green);
			}
		}
	}
	&._blank{
		background: none;
		border-width: 1px;
		border-style: solid;
		&._orange{
			border-color: getColor(orange);
			color: getColor(orange);
			&:hover{
				background-color: getColor(orange);
				color: getColor(white);
			}
		}
		&._green{
			border-color: getColor(green);
			color: getColor(green);
			&:hover{
				background-color: getColor(green);
				color: getColor(white);
			}
		}
	}
	&:focus, &:active, &:hover{
		outline: none;
	}
}