.u-checkbox{
    &__input{
        display: none;
        &:checked + .u-checkbox__label{
            &::before{
                content: 'check_box';
                color: getColor(orange);
            }
        }
    }
    &__label{
        line-height: 18px;
        display: inline-block;
        cursor: pointer;
        color: getColor(gray-dark-1);
        position: relative;
        padding-left: 28px;
        width: 100%;
        span{
            display: block;
            word-wrap: break-word;
        }
        ._block &{
            display: block;
            position: relative;
            height: auto;
            padding-left: 30px;
        }
        &::before{
            content: 'check_box_outline_blank';
            font-family: 'Material Icons';
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
            color: getColor(gray-light-2);
            position: absolute;
            top: 0;
            left: 0;
            font-size: 22px;

            ._block &{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}