.u-dropdown{
    position: relative;
    &__inner{
        position: absolute;
        top: 100%;
        transform: translateY(6px);
        z-index: 20;
        font-weight: 400;
        background-color: getColor(white);
        box-shadow: 0 0 0 1px getColor(gray-light-2);
		.headroom--top &{
			display: none !important;
		}
        &._right{
            right: 0;
        }
        &._left{
            left: 0;
        }
    }

}