.u-pagination{
    @media screen and (max-width: $screen-ms-max) {
        text-align: center;
        margin-top: 20px;
    }
    &__list{
        display: inline-block;
        vertical-align: middle;
    }
    &__link{
        display: inline-block;
        vertical-align: middle;

        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: getColor(gray-dark-3);
        text-decoration: none;

        border-radius: 2px;
        margin: 0 2px;

        i{
            line-height: 30px;
        }

        &:hover{
            background-color: getColor(white);
        }
        &._active{
            background-color: getColor(orange);
            color: getColor(white);
        }
        &._left{
            @media screen and (max-width: $screen-ms-max) {
                display: none;
            }
        }
        &._right{
            @media screen and (max-width: $screen-ms-max) {
                display: none;
            }
        }
    }
}