.u-progress{
    position: relative;
    margin-bottom: 25px;
    &__line{
        height: 11px;
        background-color: getColor(gray-light-4);
        border-radius: 5px;
        overflow: hidden;
    }
    &__inner{
        height: 100%;
        ._green &{
            background-color: getColor(green);
        }
        ._orange &{
            background-color: getColor(orange);
        }
    }
    &__text{
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
    }
    &__label{
        position: absolute;
        &._min{
            left: 0;
        }
        &._max{
            right: 0;
        }
    }
}