.u-radio{
    &__input{
        display: none;
        &:checked + .u-radio__label{
            &::before{
                content: 'radio_button_checked';
                color: getColor(orange);
            }
        }
        &:disabled + .u-radio__label{
            color: getColor(gray-light-2);
        }
    }
    &__label{
        @media screen and (min-width: $screen-md-min) {
            height: 18px;
            line-height: 18px;
        }
        display: inline-block;
        cursor: pointer;
        color: getColor(gray-dark-1);
        ._block &{
            display: block;
            position: relative;
            height: auto;
            padding-left: 30px;
        }
        &::before{
            content: 'radio_button_unchecked';
            font-family: 'Material Icons';
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
            color: getColor(gray-light-2);
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;

            ._block &{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}