.u-range{
    .noUi-horizontal{
        height: 2px;
        border: none;
        box-shadow: none;
        background-color: getColor(gray-light-3);
        .noUi-handle{
            width: 18px;
            height: 18px;
            left: -8px;
            top: -8px;
            border-radius: 50%;
            border: none;
            box-shadow: none;
            background-color: getColor(orange);
            cursor: pointer;
            transition: all 0.2s ease;
            &:before, &:after{
                display: none;
            }
            &.noUi-active{
                box-shadow: 0 0 0 5px getColor(orange);
            }
        }
    }
    .noUi-connect{
        background-color: getColor(orange);
        box-shadow: none;
    }
    &__inner{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__result{
        color: getColor(gray-dark-1);
    }
    &__foot{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
}