.u-spinner{
    user-select: none;
    border: 1px solid getColor(gray-light-3);
    background-color: getColor(gray-light-4);
    display: flex;
    justify-content: space-between;
    &__e{
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        color: getColor(gray-light-1);
        flex-grow: 1;
        transition: all 0.2s ease;
        text-align: center;
        i{
            line-height: inherit;
        }
        &:hover{
            background-color: getColor(gray-light-3);
        }
        &._left{

        }
        &._right{

        }
    }
    &__input{
        width: 50px;
        line-height: 28px;
        height: 28px;
        border: none;
        background: none;
        display: inline-block;
        vertical-align: middle;
        text-align: center;

        @include input-outline-clear();
    }
}