.u-table{
    width: 100%;
    &__cell{
        border: 1px solid getColor(gray-light-2);
        padding: 5px;

        .u-table__strip tr:nth-child(even) &{
            background-color: getColor(gray-light-4);
        }
    }
}