@mixin responsive-padding($key){
    @each $count in $padding-count {
        .pt-#{$key}-#{$count} {
            padding-top: $count * 1px;
        }
        .pb-#{$key}-#{$count} {
            padding-bottom: $count * 1px;
        }
        .pl-#{$key}-#{$count} {
            padding-left: $count * 1px;
        }
        .pr-#{$key}-#{$count} {
            padding-right: $count * 1px;
        }
        .p-per-#{$key}-#{$count} {
            padding: $count * 1px;
        }
        .p-ver-#{$key}-#{$count} {
            padding-top: $count * 1px;
            padding-bottom: $count * 1px;
        }
        .p-hor-#{$key}-#{$count} {
            padding-left: $count * 1px;
            padding-right: $count * 1px;
        }
    }
}

@mixin responsive-margin($key){
    @each $count in $margin-count{
        .mt-#{$key}-#{$count}{
            margin-top: $count * 1px;
        }
        .mb-#{$key}-#{$count}{
            margin-bottom: $count * 1px;
        }
        .ml-#{$key}-#{$count}{
            margin-left: $count * 1px;
        }
        .mr-#{$key}-#{$count}{
            margin-right: $count * 1px;
        }
        .m-per-#{$key}-#{$count}{
            margin: $count * 1px;
        }
        .m-ver-#{$key}-#{$count}{
            margin-top: $count * 1px;
            margin-bottom: $count * 1px;
        }
        .m-hor-#{$key}-#{$count}{
            margin-left: $count * 1px;
            margin-right: $count * 1px;
        }
    }
}

@mixin responsive-align($key){
    @each $side in $sides{
        @if($side != center){
            .#{$side}-align-#{$key}{
                text-align: #{$side};
            }
        } @else {
            .#{$side}-align-#{$key}, .#{$side}-#{$key}{
                text-align: #{$side};
            }
        }
    }
}

@mixin responsive-float($key){
    @each $side in $sides {
        @if ($side != center) {
            .#{$side}-#{$key} {
                float: #{$side};
            }
        }
    }
}

@mixin responsive-float-clear($key){
    .fl-clear-#{$key} {
        float: none !important;
    }
}

@mixin responsive-font-size($key) {
	@each $count in $font-size-count {
		.fs-#{$key}-#{$count} {
			font-size: $count * 1px;
		}
	}
}