/*******************
  Utility Classes
*******************/
//$responsive-level: xs,ms,sm,md,lg;
$sides: left, right, center;
$mas: ();
@if (global_variable_exists(screen-lg-min)){
	$mas: (
			lg : $screen-lg-min,
			md : $screen-md-max,
			sm : $screen-sm-max,
			ms : $screen-ms-max,
			xs : $screen-xs-max
	);
} @else {
	$mas: (
			lg : 1200px,
			md : 992px,
			sm : 768px,
			ms : 480px,
			xs : 320px
	);
}

$padding-count: 0,5,10,15,20,25,30,35,40,45,50,60,70;
$margin-count: $padding-count;
$font-size-count: 9,11,12,13,14,15,16,18,20,22,24,26,28,30,32,34,36,40, 52;
$font-weight-count: 100,200,300,400,500,600,700,800,900;