include _mixins.pug
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext", rel="stylesheet")
        //link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        // bower:css
        // run gulp inject to automatically populate bower styles dependencies
        // endbower
        // inject:css
        // css files will be automatically insert here
        // endinject
        block title
            title Эколак
    body
        include ../sections/_checkoutHeader.pug
        section.gray-light-4.p-ver-40
            +container
                a(href="#").ttu.fw-600 Вернуться в магазин
        block step
        section.pt-40.gray-light-4
            block content
        script(src="js/build.js")
        // bower:js
        // run gulp inject to automatically populate bower script dependencies
        // endbower
        // inject:js
        // js files will be automatically insert here
        // endinject
