include _mixins.pug
doctype html
html(class="no-js")
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext", rel="stylesheet")
        //link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        // bower:css
        // run gulp inject to automatically populate bower styles dependencies
        // endbower
        // inject:css
        // css files will be automatically insert here
        // endinject
        //script(src="js/modernizr.min.js")
        block title
            title Эколак
    body
        include ../sections/_headerMobile.pug
        include ../sections/_headerScroll.pug
        include ../sections/_header.pug
        include ../sections/_navigation.pug
        block content
        include ../sections/_footer.pug

        //script(src="js/build.js")
        // bower:js
        // run gulp inject to automatically populate bower script dependencies
        // endbower
        // inject:js
        // js files will be automatically insert here
        // endinject
