include _mixins.pug
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext", rel="stylesheet")
        //link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        // bower:css
        // run gulp inject to automatically populate bower styles dependencies
        // endbower
        // inject:css
        // css files will be automatically insert here
        // endinject
        block title
            title Эколак
    body
        include ../sections/_headerMobile.pug
        include ../sections/_header.pug
        include ../sections/_navigation.pug
        +breadcrumbs([
            {
                "type": "parent",
                "link": "index.html",
                "text": "Главная"
            },
            {
                "text": "Личный кабинет"
            }
        ])
        section.private
            +container
                +row
                    div.fx-md-4.fx-lg-3
                        section.clearfix
                            div.private__avatar.left
                                img(src="images/avatar.jpg")
                            h2.fs-20.ttu.orange-light-1-text.m-ver-0.private__name Александра Петрова
                        section.p-ver-30
                            ul.private__menu(data-list="naked")
                                each item in privateMenu
                                    li
                                        a(href="#")
                                            +materialIcon(item.icon)(class="mr-10")
                                            span= item.text
                        a(href="#").private__corp
                            +materialIcon('card_travel')
                            span Подать заявку на статус копоративного клиента
                        section.p-ver-30
                            ul.private__menu._func(data-list="naked")
                                each item in privateFunc
                                    li
                                        a(href="#")
                                            +materialIcon(item.icon)(class="mr-10")
                                            span= item.text
                    div.fx-md-8.fx-lg-9
                        block content
        include ../sections/_footer.pug
        script(src="js/build.js")
        // bower:js
        // run gulp inject to automatically populate bower script dependencies
        // endbower
        // inject:js
        // js files will be automatically insert here
        // endinject
