mixin autocomplete(obj)
    section.autocomplete
        ul.autocomplete__list
            each item in obj
                li.autocomplete__item
                    a(href="#").autocomplete__link
                        span.autocomplete__product
                            img.autocomplete__pic(src=item.image)
                            span.autocomplete__name= item.name
                        span.autocomplete__price= item.price
        a.autocomplete__all(href="#") Смотреть все результаты