mixin breadcrumbs(obj)
    section&attributes(attributes)
        section.p-ver-40
            +container()
                +row()
                    div.fx-md-12
                        section.u-bread
                            ul.u-bread__list
                                each item in obj
                                    li.u-bread__item
                                        if (item.type === "parent")
                                            a.u-bread__link(href=item.link)= item.text
                                        else
                                            span.u-bread__text= item.text
mixin breadcrumbs-cart(obj)
    section&attributes(attributes)
        section.p-ver-40
            +container()
                +row()
                    div.fx-md-6
                        section.u-bread
                            ul.u-bread__list
                                each item in obj
                                    li.u-bread__item
                                        if (item.type === "parent")
                                            a.u-bread__link(href=item.link)= item.text
                                        else
                                            span.u-bread__text= item.text
                    div.fx-md-6.right-align
                        +materialIcon('arrow_back')(class="dib vam fs-16 mr-5 green-text")
                        a(href="#").ttu.fw-600.dib.vam Вернуться в магазин
