mixin cartTable(obj)
    table.cartTable
        thead.cartTable__head
            tr
                each item in obj.head
                    th= item
        tbody.cartTable__body
            each row in obj.items
                tr
                    each cell in row
                        td
                            if (cell.image)
                                div.cartTable__product
                                    div.cartTable__pic
                                        img(src=cell.image)
                                    div.cartTable__text
                                        span.cartTable__name.green-text= cell.name
                                        p.cartTable__descr= cell.descr
                                        if (cell.progress)
                                            div.pt-20.gray-light-1-text
                                                span До скидки в 3% осталось купить еще 3 шт
                                                div.cartTable__progress.fs-12
                                                    +progress(cell.progress.color, cell.progress.count, cell.progress.min, cell.progress.max)
                            if (cell.spinner)
                                +spinner()
                            if (cell.price)
                                span= cell.price
                            if (cell.discount)
                                span= cell.discount
                            if (cell.total)
                                span= cell.total
                            if (cell.delete)
                                span.cartTable__del
                                    +materialIcon('close')