mixin checkoutHead(count)
    section.p-ver-40
        +container
            +row
                div.fx-md-8
                    h1.ttu.fs-30.m-ver-0 Оформление заказа шага #{count}
                div.fx-md-4
                    a(href="#").u-btn._block._full._green._solid.p-ver-10 Перейти к вводу данных о доставке
            +row
                div.fx-lg-10.fx-lg-offset-1.fx-md-12
                    div.pt-40
                        section.checkoutStep
                            each item, index in checkoutStep
                                div.checkoutStep__item(class= count == index + 1 ? '_active' : count < index + 1 ? '_next' : '')
                                    span.checkoutStep__count= index + 1
                                    span.checkoutStep__title.fs-20.fw-900.ttu= item
