mixin checkoutTable(obj)
    table.cartTable._checkout
        thead.cartTable__head
            tr
                each item in obj.head
                    th= item
        tbody.cartTable__body
            each row in obj.items
                tr
                    each cell in row
                        td
                            if (cell.image)
                                div.cartTable__product
                                    div.cartTable__pic
                                        img(src=cell.image)
                                    div.cartTable__text
                                        span.cartTable__name= cell.name
                            if (cell.count)
                               span.cartTable__count= cell.count
                            if (cell.price)
                                span= cell.price
                            if (cell.discount)
                                span= cell.discount
                            if (cell.total)
                                span= cell.total