mixin checkbox(id, text)
    div.u-checkbox
        input(type='checkbox', id=id).u-checkbox__input
        label(for=id).u-checkbox__label&attributes(attributes)= text

mixin checkbox-block(id, text)
    div.u-checkbox._block
        input(type='checkbox', id=id).u-checkbox__input
        label(for=id).u-checkbox__label&attributes(attributes)= text