mixin dropcart(obj)
    div.dropcart
        div.dropcart__box
            h4.dropcart__title В вашей корзине:
            div.dropcart__wrap
                ul.dropcart__list
                    each item in obj
                        li.dropcart__item
                            a.dropcart__link(href='#')
                                span.dropcart__pic
                                    img(src=item.image)
                                span.dropcart__descr
                                    span.dropcart__name= item.name
                                    span.dropcart__price= item.price
                            div.showcase__field.showcase__field_naked
                                span.showcase__label Количество:
                                div.showcase__input
                                    +spinner()
                            span.dropcart__del
                                +materialIcon('close')
            div.dropcart__total
                span Итого:
                span.dropcart__price.dropcart__price_total 2000
        div.dropcart__box.dropcart__box_border
            a(href="#").u-btn._block._full._solid._green.p-ver-10 Оформить заказ
