mixin feedForm()
    section.feedForm
        +row
            div.fx-md-3
                div.feedForm__pic
                    img(src="images/feed-form.jpg")
                button.u-btn._block._full._blank._green.p-ver-5.mb-5 Добавить фото
                p.pt-5
                    a(href="#").fs-12 Еще не зарегистрированы?
                p.pt-5
                    a(href="#").fs-12 Сделайте это сейчас
            div.fx-md-9
                div.mb-20
                    span.fw-600 Данные соц.сети:
                div.feedForm__row
                    div.feedForm__icon
                        +materialIcon('person')
                    div.feedForm__field
                        +materialInputFiled('feedForm-name', 'Ваше имя *')
                div.feedForm__row
                    div.feedForm__icon
                        +materialIcon('local_phone')
                    div.feedForm__field
                        +materialInputFiled('feedForm-mail', 'Ваше e-mail *')
                div.feedForm__row
                    div.feedForm__icon
                        +materialIcon('edit')
                    div.feedForm__field
                        +materialInputFiled('feedForm-text', 'Текст вашего сообщения')
                div.pt-40
                    button.u-btn._block._full._solid._orange.p-ver-10 Оставить отзыв