mixin feedback-wrap-row()
    section.feedback._row&attributes(attributes)
        block

mixin feedback-wrap-col()
    section.feedback._col&attributes(attributes)
        block

mixin feedback-item(item)
    div.feedback__item
        if(item.image)
            div.feedback__pic
                img(src=item.image)
        div.feedback__body
            h4.feedback__name= item.name
            if (item.text)
                div.feedback__text
                    p= item.text
            if (item.video)
                div.feedback__video
                    img(src=item.video)
            block

mixin feedback-link()
    div.feedback__link
        a(href="#") Подробнее