mixin filter(obj)
    section.filter
        each item in obj
            div.filter__box
                div.filter__head
                    span.filter__title= item.title
                    span.filter__trigger
                        +materialIcon('chevron_right')
                div.filter__body
                    if (item.type === 'slider')
                        +range()
                    else if (item.type === 'checkbox')
                        +row
                            each check, index in item.list
                                div.fx-md-6
                                    div.u-checkbox.m-ver-10
                                        input.u-checkbox__input(type="checkbox", id="checkbox-" + index)
                                        label.u-checkbox__label(for="checkbox-" + index)= check