mixin iconBox(icon, text)
    div.iconBox(class!=attributes.boxClass)
        div.iconBox__icon
            +materialIcon(icon)(class!=attributes.iconClass)
        div.iconBox__text
            p(class!=attributes.textClass)
                each val, key in text
                    if (key === 'a')
                        #{key}(href="#")= val
                    else
                        #{key}= val