mixin instruction(obj)
    section.instruction__item.box.white(class= obj.type === 'video' ? '_video' : '')
        div.instruction__pic.ovh
            img(src=obj.image)
            if (obj.type === 'video')
                div.instruction__wrap
                    h4.instruction__title.white-text.ttu.m-per-0= obj.title
        div.instruction__body.p-per-20
            if (obj.type === 'article')
                span.fw-600.ttu.m-per-0= obj.title
                div.m-ver-20.gray-dark-1-text
                    p= obj.text
                div.right-align
                    a(href="#").tdn Подробнее
            else
                div.right-align
                    a(href="#").tdn  Смотреть

