mixin materialFileField(placeholder, text)
    div.file-field.material-input-field(class!=attributes.fieldClass)
        div.file-path-wrapper
            input(class="file-path validate", type="text", placeholder=placeholder)
        div(class!=attributes.btnClass)
            span= text
            input(type="file", multiple)