mixin pagination(list)
    div.u-pagination
        a(href="#").u-pagination__link._left
            +materialIcon('chevron_left')
        div.u-pagination__list
            each item in list
                a.u-pagination__link(class= item == 2 ? '_active' : '', href="#")= item
        a(href="#").u-pagination__link._right
            +materialIcon('chevron_right')