mixin pickerDot(obj)
    div.picker__dot(style="top:" + obj.top + "; left:" + obj.left + ";")
        div.picker__plus
            +materialIcon('add')
        div.picker__popup(class='_' +obj.v + ' _' + obj.h)
            header.picker__title= obj.title
            div.picker__body
                each item in obj.item
                    div.picker__product
                        div.picker__preview
                            img(src=item.image)
                        div.picker__descr
                            h4.picker__name= item.name
                            a.picker__link(href="#") Подробнее