mixin progress(color, count, min, max)
    div.u-progress(class="_" + color)
        div.u-progress__line
            div.u-progress__inner(style="width:" + count + "%")
        div.u-progress__text
            span.u-progress__label._min= min
            span.u-progress__label._max= max