mixin range()
    div.u-range
        div.u-range__inner
            div.price-range(data-min="0", data-max="100000", data-step= "1000")
        div.u-range__foot
            span.u-range__result._min
            input.u-range__hidden._min(type="hidden" value="0")
            span.u-range__result._max
            input.u-range__hidden._max(type="hidden" value="1000000")