mixin showcaseWrap()
    div.showcase__wrap
        block

mixin showcaseItem(obj)
    div.showcase__item
        div.showcase__head
            div.showcase__pic
                img(src=obj.image, alt=obj.title)
            div.showcase__name
                a(href=obj.href)= obj.title
        div.showcase__body
            div.showcase__field
                span.showcase__label Выбрать тару:
                div.showcase__select
                    select(class="showcase__select chosen-select" style="width: 100%")
                        each item in [1,2,3,4,5]
                            option(value=item)= item
            div.showcase__field
                span.showcase__label Количество:
                div.showcase__input
                    +spinner()
        div.showcase__foot
            div.row
                div.fx-md-5
                    p.showcase__price= obj.price
                    p.showcase__func
                        +funcLink('favorite', 'Избранное')
                    p.showcase__func
                        +funcLink('swap_horiz', 'Сравнение')
                div.fx-md-7
                    button.u-btn._block._full._solid._green.p-ver-10(href="#") В корзину
                    div.center.pt-15
                        span.showcase__fast
                            +materialIcon('mouse')
                            span Купить в 1 клик


mixin showcaseItemRow(obj)
    div.showcase__item._row
        div.showcase__head
            div.showcase__pic
                img(src=obj.image, alt=obj.title)
        div.showcase__body
            div.showcase__name
                a(href=obj.href)= obj.title
            div.showcase__descr
                p.
                    dslfhs dfjs dkjfskld fsdalkjsh djklfh askdhf l;jsahdf
                    dslfhs dfjs dkjfskld fsdalkjsh djklfh askdhf l;jsahdf
                    dslfhs dfjs dkjfskld fsdalkjsh djklfh askdhf l;jsahdf
                    dslfhs dfjs dkjfskld fsdalkjsh djklfh askdhf l;jsahdf
                    dslfhs dfjs dkjfskld fsdalkjsh djklfh askdhf l;jsahdf
            span.showcase__func
                +funcLink('favorite', 'Избранное')
            span.showcase__func
                +funcLink('swap_horiz', 'Сравнение')
            span.showcase__func
                +funcLink('dialpad', 'Расчитать')
        div.showcase__foot
            div.showcase__field
                span.showcase__label Выбрать тару:
                div.showcase__select
                    select(class="showcase__select chosen-select" style="width: 100%")
                        each item in [1,2,3,4,5]
                            option(value=item)= item
            div.showcase__field
                span.showcase__label Количество:
                div.showcase__input
                    +spinner()
            p.showcase__price= obj.price
            button.u-btn._block._full._solid._green.p-ver-10(href="#") В корзину
            div.center.pt-15
                span.showcase__fast
                    +materialIcon('mouse')
                    span Купить в 1 клик