mixin spinner ()
    div.u-spinner
        span.u-spinner__e._left
            +materialIcon('chevron_left')
        input(class="u-spinner__input", type="text", maxlength="3", value="1")
        span.u-spinner__e._right
            +materialIcon('chevron_right')