mixin strippedTitle(title)
    h2.strippedTitle.center
        span&attributes(attributes)= title

mixin strippedTitle-left(title)
    h2.strippedTitle.left-align
        span&attributes(attributes)= title