mixin superoffer(obj)
    section.superoffer
        h3.superoffer__title= obj.title
        div.superoffer__pic
            img(src=obj.image)
        span.superoffer__name= obj.name
        div.p-ver-20
            +row
                div.fx-md-6
                    p.superoffer__price= obj.price
                div.fx-md-6
                    a(href="#").u-btn._block._full._green._solid.p-ver-5 В корзину
        div.center
            a(href="#") Подробнее о товаре