mixin tabsHead(obj)
    ul.tabs&attributes(attributes)
        if (attributes.type === "_full")
            +container
                +row
                    div.fx-md-12
                        each item in obj
                            li.tab
                                a(href="#" + item.id)= item.title
        else
            each item in obj
                li.tab
                    a(href="#" + item.id)= item.title

mixin tabsBody(obj)
    each item in obj
        div(id= item.id)
            if (item.text)
                p= item.text
            if (item.image)
                img(src=item.image)