.tabs {
    position: relative;
    //height: 63px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    @include clearfix();

    .tab {
        display: block;
        float: left;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
            font-weight: 600;
            color: getColor(gray-dark-3);
            position: relative;
            &:active, &:focus, &:hover {
                outline: none;
                border: none;
            }
        }

        &.disabled a {
            color: lighten($tabs-text-color, 20%);
            cursor: default;
        }
    }

    &._material {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        @media screen and (max-width: $screen-ms-max) {
            display: block;
        }
        .tab{
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            margin: 0 1px;
            text-overflow: ellipsis;
            overflow: hidden;
            @media screen and (max-width: $screen-ms-max) {
                float: none;
            }
            a{
                display: block;
                line-height: 63px;
                height: 63px;
                width: 100%;
                text-overflow: ellipsis;
                //overflow: hidden;
                transition: all .28s ease;
                margin-bottom: 2px;
                background-color: getColor(white);
                @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    font-size: 12px;
                }

                &:after {
                    content: '';
                    width: 36px;
                    height: 2px;
                    background-color: getColor(orange-light-1);
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -18px;
                    transition: all 0.28s ease;
                }
                &.active {
                    background-color: getColor(white);
                    color: getColor(orange-light-1);
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &:hover {

                }
            }
        }
    }

    &._standart{
        border-bottom: 2px solid getColor(gray-light-3);
        padding-bottom: 20px;

        .tab{
            padding: 0 15px;
           @media screen and (min-width: $screen-md-min) {
               &:first-child{
                   padding-left: 0;
               }
               &:last-child{
                   padding-right: 0;
               }
           }
            @media screen and (max-width: $screen-sm-max) {
                padding-top: 6px;
                padding-bottom: 6px;
                float: none;
                a{
                    &:after{
                        display: none;
                    }
                }
            }
            a{
                transition: all 0.2s ease;
                &:hover{
                    color: getColor(orange-light-1);
                }
                &:after{
                    content: '';
                    transition: all 0.2s ease;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -22px;
                    border-bottom: 2px solid getColor(gray-light-3);
                }
                &.active{
                    color: getColor(orange-light-1);
                    &:after{
                        border-color: getColor(orange-light-1);
                    }
                }
            }
        }
    }


    .indicator {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: $tabs-underline-color;
        will-change: left, right;
    }
}
