/* Text inputs */

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {

    // General Styles
    background-color: transparent;
    border: none;
    border-bottom: $input-border;
    border-radius: 0;
    outline: none;
    height: $input-height;
    width: 100%;
    font-size: $input-font-size;
    //margin: $input-margin;
    padding: $input-padding;
    box-shadow: none;
    box-sizing: content-box;
    transition: $input-transition;
    color: $input-border;
    position: relative;
    z-index: 2;

    // Disabled input style
    &:disabled,
    &[readonly="readonly"] {
        color: $input-disabled-color;
        border-bottom: $input-disabled-border;
    }

    // Disabled label style
    &:disabled + label,
    &[readonly="readonly"] + label {
        color: $input-disabled-color;
    }

    // Focused input style
    &:focus:not([readonly]) {
        border-bottom: 1px solid $input-focus-color;
        box-shadow: 0 1px 0 0 $input-focus-color;
    }

    // Focused label style
    &:focus:not([readonly]) + label {
        color: $input-focus-color;
    }

    // Valid Input Style
    &.valid,
    &:focus.valid {
        border-bottom: 1px solid $input-success-color;
        box-shadow: 0 1px 0 0 $input-success-color;
    }

    // Custom Success Message
    &.valid + label:after,
    &:focus.valid + label:after {
        content: attr(data-success);
        color: $input-success-color;
        opacity: 1;
    }

    // Invalid Input Style
    &.invalid,
    &:focus.invalid {
        border-bottom: $input-invalid-border;
        box-shadow: 0 1px 0 0 $input-error-color;
    }

    // Custom Error message
    &.invalid + label:after,
    &:focus.invalid + label:after {
        content: attr(data-error);
        color: $input-error-color;
        opacity: 1;
    }

    // Full width label when using validate for error messages
    &.validate + label {
        width: 100%;
        pointer-events: none;
    }

    // Form Message Shared Styles
    & + label:after {
        display: block;
        content: "";
        position: absolute;
        top: 60px;
        opacity: 0;
        transition: .2s opacity ease-out, .2s color ease-out;
    }
}