// Prefix Icons
.prefix {
    position: absolute;
    width: $input-height;
    font-size: 2rem;
    transition: color .2s;

    &.active {
        color: $input-focus-color;
    }
}

.prefix ~ input,
.prefix ~ textarea,
.prefix ~ label,
.prefix ~ .validate ~ label,
.prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.prefix ~ label {
    margin-left: 3rem;
}

@media #{$medium-and-down} {
    .prefix ~ input {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media #{$small-and-down} {
    .prefix ~ input {
        width: 80%;
        width: calc(100% - 3rem);
    }
}