/* Search Field */

input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);

    &:focus {
        background-color: $input-background;
        border: 0;
        box-shadow: none;
        color: #444;

        & + label i,
        & ~ .mdi-navigation-close,
        & ~ .material-icons {
            color: #444;
        }
    }

    & + label {
        left: 1rem;
    }

    & ~ .mdi-navigation-close,
    & ~ .material-icons {
        position: absolute;
        top: 0;
        right: 1rem;
        color: transparent;
        cursor: pointer;
        font-size: 2rem;
        transition: .3s color;
    }
}