/* Textarea */

// Default textarea
textarea {
    width: 100%;
    height: $input-height;
    background-color: transparent;
    position: relative;
    z-index: 2;

    &.materialize-textarea {
        overflow-y: hidden; /* prevents scroll bar flash */
        padding: .8rem 0 1.6rem 0; /* prevents text jump on Enter keypress */
        resize: none;
        min-height: $input-height;
    }
}

