.scrollUp{
    position: fixed;
    z-index: 100;
    background-color: getColor(orange-light-1);
    color: getColor(white);
    cursor: pointer;
    text-align: center;
    bottom: 50px;
    right: 70px;
    transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
    &._active{
        opacity: 1;
        visibility: visible;
    }
    &:hover{
        background-color: getColor(orange);
    }
    i{
        display: block;
        font-size: 50px;
    }


    &.backToItems{
        i{
            display: inline-block;
            vertical-align: middle;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            padding: 0 0 0 16px;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        bottom: 40px;
        right: 40px;
    }
}


.totalInfo{
    .box{
        @media screen and (max-width: $screen-sm-max) {
            margin: 15px 0;
        }
    }
}

a[href='#describe']{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.content{
    position: relative;
    z-index: 0;
}